{% if (loader is not defined) %}
    {% set loader = (selector is not defined) ? 'dimmer' : 'inverted dimmer' %}
    {% set loader_parent = (selector is not defined) ? 'body' : selector %}
    {% set loader_text = (loader_text is defined) ? loader_text : _T('Loading...') %}
{% elseif (loader == 'button') %}
    {% set loader_parent = (selector is defined) ? selector %}
    {% set loader = loader %}
{% else %}
    {% set loader_parent = (selector is defined) ? selector %}
    {% set loader = loader ~ ' loader' %}
{% endif %}

    beforeSend: function() {
        var _loader = $('<div class="ui active {{ loader }}"><div class="ui{% if (loader_text is defined) %} text{% endif %} loader">{% if (loader_text is defined) %}{{ loader_text|e('js') }}{% endif %}</div></div>');

{% if (loader == 'button') %}
        $('{{ loader_parent }}').addClass('loading');
{% else %}
    {% if (loader ends with 'dimmer') %}
        $('{{ loader_parent }} .dimmer:not(.modals)').remove();
    {% elseif (loader ends with 'loader') %}
        $('{{ loader_parent }} .loader').remove();
    {% endif %}
    $('{{ loader_parent }}').append(_loader);
{% endif %}

    },
    complete: function() {

{% if (loader == 'button') %}
        $('{{ loader_parent }}').removeClass('loading');
{% else %}
    {% if (loader ends with 'dimmer') %}
        $('{{ loader_parent }} .dimmer:not(.modals)').remove();
    {% elseif (loader ends with 'loader') %}
        $('{{ loader_parent }} .loader').remove();
    {% endif %}
{% endif %}

    }
