    {% set loader_parent = (loader is defined and loader starts with 'inline') ? '.js-loader' : 'body' %}
    {% set loader_type = (loader is defined) ? loader ~ ' loader' : 'page dimmer' %}
        beforeSend: function() {
            var _loader = $('<div class="jsloader ui active {{ loader_type }}"><div class="ui text loader">{{ _T("Currently loading...")|e('js') }}</div></div>');
            $('{{ loader_parent }} .jsloader').remove();
            $('{{ loader_parent }}').append(_loader);
        },
        complete: function() {
            $('{{ loader_parent }} .jsloader').remove();
        }

