<div id="groups_field" class="field">
    <label>{{ _T("Groups:") }}</label>
    {% if login.isGroupManager() %}
    <a class="jsonly disabled ui icon button" id="btngroups">
        <i class="user tag icon" aria-hidden="true"></i>
        {{ _T("Manage user's groups") }}
    </a>
    {% endif %}
    {% if login.isAdmin() or login.isStaff() %}
    <a class="jsonly disabled ui icon button" id="btnmanagedgroups">
        <i class="user shield icon" aria-hidden="true"></i>
        {{ _T("Manage user's managed groups") }}
    </a>
    {% endif %}
    {% if login.isAdmin() or login.isStaff() or login.isGroupManager() %}
    <noscript><div class="ui message">{{ _T("This function requires javascript.") }}</div></noscript>
    {% endif %}
    <span id="usergroups_form">
    {% if member.id %}
        {% for group in groups %}
            {% if member.isGroupMember(group.getName()) %}
            <input type="hidden" name="groups_adh[]" value="{{ group.getId() }}|{{ group.getName() }}"/>
            {% endif %}
        {% endfor %}
    {% endif %}
    </span>
    {% if login.isAdmin() or login.isStaff() or login.isGroupManager() %}
    <span id="managedgroups_form">
    {% if member.id %}
        {% for group in groups %}
            {% if member.isGroupManager(group.getName()) %}
        <input type="hidden" name="groups_managed_adh[]" value="{{ group.getId() }}|{{ group.getName() }}"/>
            {% endif %}
        {% endfor %}
    {% endif %}
    </span>
    {% endif %}
    {% if login.isAdmin() or login.isStaff() or login.isGroupManager() %}<br/>{% endif %}
    <span id="usergroups">
    {% if member.id %}
        {% for group in groups %}
            {% if member.isGroupMember(group.getName()) %}
                {% if isnotfirst is defined %}, {% else %}<strong>{{ _T("Member of:") }}</strong>{% endif %}
                {% set isnotfirst = true %}
                {{ group.getName() }}
            {% endif %}
        {% endfor %}
    {% endif %}
    </span>
    {% if isnotfirst is defined %}<br/>{% endif %}
    <span id="managedgroups">
    {% if member.id %}
        {% for group in groups %}
            {% if member.isGroupManager(group.getName()) %}
                {% if isnotfirstm is defined %}, {% else %}<strong>{{ _T("Manager for:") }}</strong>{% endif %}
                {% set isnotfirstm = true %}
                {{ group.getName() }}
            {% endif %}
        {% endfor %}
    {% endif %}
    </span>
</div>
