{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "components/forms/select.html.twig" %}

{% block element %}
    <div id="{{ id }}" class="jsonly search-dropdown ui input paginated">
        <input id="{{ id }}_input" type="hidden" name="{{ id }}" value="{% if value is not same as null %}{{ value }}{% endif %}" placeholder="{{ _T("Member ID") }}">
        <i class="jsonly displaynone dropdown icon"></i>
        <span class="ui mini compact icon disabled button prev-results">
            <i class="jsonly displaynone chevron circle left icon disabled button tooltip" title="{{ _T("Load previous members...") }}"></i>
        </span>
        <span class="ui mini compact icon disabled button next-results">
            <i class="jsonly displaynone chevron circle right icon disabled button tooltip" title="{{ _T("Load following members...") }}"></i>
        </span>
        <div class="jsonly displaynone default text">{{ _T("Search for name or ID and pick member") }}</div>
        <div class="jsonly displaynone menu">
    {% for k, v in members.list %}
            <div class="item" data-value="{{ k }}">{{ v }}</div>
    {% endfor %}
        </div>
    </div>
{% endblock %}