{% extends 'page.html.twig' %}

{% block content %}
    <section class="tabbed">
        <div id="configfiches_tabs">
            <a
                id="addfield"
                href="{{ path_for('addDynamicField', { 'form_name': form_name }) }}"
                class="ui compact icon green button tab-button tooltip"
                data-html="{{ _T("Add")|e("js") }}"
            >
                <i class="plus icon"></i>
                <span class="sr-only">{{ _T("Add") }}</span>
            </a>
            <ul>
{% for key, form in all_forms %}
                <li{% if form_name == key %} class="ui-tabs-selected {{ loop.index0 }}"{% endif %}><a href="{{ path_for('configureDynamicFields', { 'form_name': key }) }}">{{ form }}</a></li>
{% endfor %}
            </ul>
            <div id="ui-tabs-{{ form_name }}">
                {% include 'elements/edit_dynamic_fields.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
{% set activetab = "" %}
{% for key, form in all_forms %}
    {% if form_name == key %}
        {% set activetab = loop.index0 %}
    {% endif %}
{% endfor %}
        <script type="text/javascript">
            var _form_name;
            $('#addfield').click(function(e){
                e.preventDefault();
                var _this = $(this);
                var _href = '{{ path_for('addDynamicField', { 'form_name': '%form' })|replace({ '%form': ' . _form_name . ' }) }}'

                $.ajax({
                    url: _href,
                    type: "GET",
                    datatype: 'json',
                    {% include "elements/js/loader.js.twig" %},
                    success: function(res){
                        var _res = $(res);
                        _res.find('input[type=submit]')
                            .button();

                        _res.find('form').on('submit', function(e) {
                            e.preventDefault();
                        });

                        _res.dialog({
                            width: '40%',
                            modal: true,
                            close: function(event, ui){
                                $(this).dialog('destroy').remove()
                            }
                        });
                    },
                    error: function() {
                        alert("{{ _T("An error occurred :(")|e("js") }}");
                    }
                });
            });

            $('#configfiches_tabs').tabs({
                active: {{ activetab }},
                load: function(event, ui) {
                    $('#configfiches_tabs input:submit, #configfiches_tabs .button, #configfiches_tabs input:reset' ).button();
                },
                beforeLoad: function(event, ui) {
                    _form_name = ui.ajaxSettings.url.split('/');
                    _form_name = _form_name[_form_name.length-1]

                    if ( ui.ajaxSettings.url == '{{ path_for('configureDynamicFields', { 'form_name': form_name }) }}'
                        ||  ui.ajaxSettings.url == '{{ path_for('configureDynamicFields') }}'
                    ) {
                        var _current = $('#ui-tabs-{{ form_name }}');
                        if (_current) {
                            $('#'+ui.panel[0].id).append(_current)
                        }
                        return false; //avoid reloading first tab onload
                    }

                    var _dimmer = $('<div id="jsloader" class="ui active page dimmer"><div class="ui text loader">{{ _T("Currently loading...") }}</div><p></p></div>');
                    $('body').append(_dimmer);

                    ui.jqXHR.always(function(){
                        $('#jsloader').remove();
                    });

                    ui.jqXHR.fail(function(){
                        alert('{{ _T("An error occurred :(")|e("js") }}');
                    });
                }
            });
        </script>
{% endblock %}
