{% extends 'page.html.twig' %}

{% block content %}
{% set name = fields.libelle %}
{% set id = fields.id %}
{% set field = fields.third %}
    <form action="{% if class == 'Status' %}{{ path_for('editEntitled', { 'class': url_class , 'action': 'edit', 'id': entry.id_statut }) }}{% else %}{{ path_for('editEntitled', { 'class': url_class , 'action': 'edit', 'id': entry.id_type_cotis }) }}{% endif %}" method="post" class="ui form">
        <div class="ui segment">
            <div class="field inline">
                <label for="{{ name }}">{{ _T("Name:") }}</label>
                <input type="text" name="{{ name }}" id="{{ name }}" value="{% if class == 'Status' %}{{ entry.libelle_statut }}{% else %}{{ entry.libelle_type_cotis }}{% endif %}" />
            </div>
            <div class="field inline">
                <label for="{{ field }}">
{% if class == 'Status' %}
                    {{ _T("Priority:") }}
{% elseif class == 'ContributionsTypes' %}
                    {{ _T("Extends membership?") }}
{% endif %}
                </label>
{% if class == 'Status' %}
                <input type="text" size="4" name="{{ field }}" id="{{ field }}" value="{{ entry.priorite_statut }}" />
                <span class="exemple">{{ _T("Note: members with a status priority lower than %priority are staff members.")|replace({ '%priority': non_staff_priority }) }}</span>
{% elseif class == 'ContributionsTypes' %}
                <input type="checkbox" name="{{ field }}" id="{{ field }}" value="1"{% if entry.cotis_extension == 1 %} checked="checked"{% endif %} />
{% endif %}
            </div>
        </div>

        <input type="hidden" name="mod" id="mod" value="{$entry->$id}"/>
        <input type="hidden" name="class" value="{{ class }}" />

        <div class="button-container">
            <button type="submit" class="ui labeled icon primary button action">
                <i class="save icon"></i>
                {{ _T("Save") }}
            </button>
            {% include 'components/forms/csrf.html.twig' %}
        </div>
    </form>
{% endblock %}
