{% extends 'page.html.twig' %}

{% block content %}
    <div class="container">
        <div>
    {% if not hide_telemetry and constant('GALETTE_MODE') != 'DEMO' %}
    <div class="ui info message">
        <i class="close icon"></i>
        <div class="header">
            {{ _T("Help us know about you!") }}
        </div>
        <p>
            {# TODO: use a trash icon next to close one instead of a checkbox #}
            {{ _T("Take a moment to share some information with us so we can know better Galette's uses.") }}
            <span class="ui checkbox" title="{{ _T("The panel will be automatically hidden once you have registered and send telemetry data. Check the box if you want to hide it anyways.") }}">
                <input type="checkbox" name="hide_telemetry" id="hide_telemetry" value="1"{% if hide_telemetry %} checked="checked"{% endif %}/>
                <label for="hide_telemetry">{{ _T("Hide this panel") }}</label>
            </span>
        </p>
        <div class="ui two centered stackable cards">
            {% if not telemetry_sent %}
                <a id="telemetry" class="ui card" href="#" title="{{ _T("Send anonymous and imprecise data about your Galette instance") }}">
                    <div class="content">
                        <div class="center aligned header">
                            <i class="ui huge chart bar grey icon"></i>
                            {{ _T("Telemetry") }}
                        </div>
                    </div>
                </a>
            {% endif %}
            {% if not registered %}
                <a class="ui card" href="{{ constant('GALETTE_TELEMETRY_URI') }}reference?showmodal&uuid={{ reguuid }}" title="{{ _T("Register your organization as a Galette user") }}" target="_blank">
                    <div class="content">
                        <div class="center aligned header">
                            <i class="ui huge id card outline grey icon"></i>
                            {{ _T("Register") }}
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
            <h3 class="ui top attached header">{{ _T("Activities") }}</h3>
            <div class="ui attached segment">
                <div class="ui three stackable cards">
{% if login.isAdmin() or login.isStaff() or login.isGroupManager() %}
                    <a class="ui card" href="{{ path_for('members') }}" title="{{ _T("View, search into and filter member's list") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge users grey icon"></i>
                                {{ _T("Members") }}
                            </div>
                        </div>
                    </a>
                    <a class="ui card" href="{{ path_for('groups') }}" title="{{ _T("View and manage groups") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge users cog grey icon"></i>
                                {{ _T("Groups") }}
                            </div>
                        </div>
                    </a>
    {% if login.isAdmin() or login.isStaff() %}
                    <a class="ui card" href="{{ path_for('mailings') }}" title="{{ _T("Manage mailings that has been sent") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge mail bulk grey icon"></i>
                                {{ _T("Mailings") }}
                            </div>
                        </div>
                    </a>
                    <a class="ui card" href="{{ path_for('contributions', {'type': 'contribution'}) }}" title="{{ _T("View and filter contributions") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge cookie grey icon"></i>
                                {{ _T("Contributions") }}
                            </div>
                        </div>
                    </a>
                    <a class="ui card" href="{{ path_for('contributions', {'type': 'transactions'}) }}" title="{{ _T("View and filter transactions") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge columns grey icon"></i>
                                {{ _T("Transactions") }}
                            </div>
                        </div>
                    </a>
                    <a class="ui card" href="{{ path_for('reminders') }}" title="{{ _T("Send reminders to late members") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge bell grey icon"></i>
                                {{ _T("Reminders") }}
                            </div>
                        </div>
                    </a>
    {% endif %}
    {% if login.isAdmin() %}
                    <a class="ui card" href="{{ path_for('preferences') }}" title="{{ _T("Set applications preferences (address, website, member's cards configuration, ...)") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge tools grey icon"></i>
                                {{ _T("Settings") }}
                            </div>
                        </div>
                    </a>
                    <a class="ui card" href="{{ path_for('plugins') }}" title="{{ _T("Information about available plugins") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge puzzle piece grey icon"></i>
                                {{ _T("Plugins") }}
                            </div>
                        </div>
                    </a>
                    {# Include plugins user dashboard #}
                    {$plugins->getDashboard($tpl)}
    {% endif %}
{% else %}
                    {# Single member #}
                    <a class="ui card" href="{{ path_for('me') }}" title="{{ _T("View my member card") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge user alternate grey icon"></i>
                                {{ _T("My information") }}
                            </div>
                        </div>
                    </a>
                    <a class="ui card" href="{{ path_for('contributions', { 'type': 'contributions'}) }}" title="{{ _T("View and filter all my contributions") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge cookie grey icon"></i>
                                {{ _T("Contributions") }}
                            </div>
                        </div>
                    </a>
                    <a class="ui card" href="{{ path_for('contributions', { 'type': 'transactions'}) }}" title="{{ _T("View and filter all my transactions") }}">
                        <div class="content">
                            <div class="header">
                                <i class="ui huge columns grey icon"></i>
                                {{ _T("transactions") }}
                            </div>
                        </div>
                    </a>
                    {# Include plugins user dashboard #}
                    {$plugins->getMemberDashboard($tpl)}
{% endif %}
                </div>
            </div>
            <div class="ui basic segment">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="show_dashboard" id="show_dashboard" value="1"{% if show_dashboard %} checked="checked"{% endif %}/>
                    <label for="show_dashboard">{{ _T("Show dashboard on login") }}</label>
                </div>
            </div>
        </div>
    {% if news|length > 0 %}
        <div>
            <h3 class="ui top attached header">{{ _T("News") }}</h3>
            <div class="ui attached segment">
                <div class="ui bulleted list">
        {% for post in news %}
                    <div class="item">
                        <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
                    </div>
        {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    </div>

    {% if not hide_telemetry and not telemetry_sent %}
        {% include "modals/telemetry.html.twig" with { part: "dialog" } %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $('#show_dashboard').change(function(){
                var _checked = $(this).is(':checked');
                Cookies.set(
                    'show_galette_dashboard',
                    (_checked ? 1 : 0),
                        {
                            expires: 365,
                            path: '/'
                        }
                );
                if ( !_checked ) {
                    var _url = '{{ path_for('members') }}';
                    window.location.replace(_url);
                }
            });

{% if not hide_telemetry %}
            $('#hide_telemetry').change(function(){
                var _checked = $(this).is(':checked');
                Cookies.set(
                    'hide_galette_telemetry',
                    (_checked ? 1 : 0),
                        {
                            expires: 365,
                            path: '/'
                        }
                );
                var _url = '{{ path_for('dashboard') }}';
                window.location.replace(_url);
            });

    {% if not telemetry_sent %}
        {% include "modals/telemetry.html.twig" with { part: "jsdialog", orig: "desktop" } %}
    {% endif %}
    {% if not registered %}
        {% include "modals/telemetry.html.twig" with { part: "jsregister", orig: "desktop"} %}
    {% endif %}
{% endif %}
        });
    </script>
{% endblock %}
