{% extends 'page.html.twig' %}

{% block content %}
    <form action="{{ path_for('mailings_filter') }}" method="post" id="filtre" class="ui form">
        <div class="ui segment">
            <div class="three fields">
                <div class="two fields">
                    <div class="field">
                        <label for="start_date_filter">{{ _T('since') }}</label>
                        <div class="ui calendar" id="mailings-rangestart">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input placeholder="{{ _T('(yyyy-mm-dd format)') }}" type="text" name="start_date_filter" id="start_date_filter" maxlength="10" size="10" value="{{ history.filters.start_date_filter }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="end_date_filter">{{ _T('until') }}</label>
                        <div class="ui calendar" id="mailings-rangeend">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input placeholder="{{ _T('(yyyy-mm-dd format)') }}" type="text" name="end_date_filter" id="end_date_filter" maxlength="10" size="10" value="{{ history.filters.end_date_filter }}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="subject_filter">{{ _T('Subject') }}</label>
                    <input type="text" name="subject_filter" id="subject_filter" value="{{ history.filters.subject_filter }}"/>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <div class="inline fields">
                        <label for="sent_filter">{{ _T('Sent mailings:') }}</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="sent_filter" id="filter_dc_sent" value="{{ constant("Galette\\Core\\MailingHistory::FILTER_DC_SENT") }}"{% if history.filters.sent_filter == constant("Galette\\Core\\MailingHistory::FILTER_DC_SENT") %} checked="checked"{% endif %}>
                                <label for="filter_dc_sent" >{{ _T("Don't care") }}</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="sent_filter" id="filter_sent" value="{{ constant("Galette\\Core\\MailingHistory::FILTER_SENT") }}"{% if history.filters.sent_filter == constant("Galette\\Core\\MailingHistory::FILTER_SENT") %} checked="checked"{% endif %}>
                                <label for="filter_sent" >{{ _T('Yes') }}</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="sent_filter" id="filter_not_sent" value="{{ constant("Galette\\Core\\MailingHistory::FILTER_NOT_SENT") }}"{% if history.filters.sent_filter == constant("Galette\\Core\\MailingHistory::FILTER_NOT_SENT") %} checked="checked"{% endif %}>
                                <label for="filter_not_sent" >{{ _T('No') }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right aligned field">
                    <input type="submit" class="ui primary button" value="{{ _T('Filter') }}"/>
                    <input type="submit" name="clear_filter" class="ui button" value="{{ _T('Clear filter') }}"/>
                </div>
            </div>
        </div>
        <div class="infoline">
            <div class="ui basic horizontal segments">
                <div class="ui basic fitted segment">
                    <a
                        class="action ui labeled icon button"
                        href="{{ path_for('mailing') }}?mailing_new=true"
                    >
                        <i class="mail green icon"></i>
                        {{ _T('Create new mailing') }}
                    </a>
                    <div class="ui label">{{ _Tn("%count entry", "%count entries", history.getCount())|replace({ '%count': history.getCount() }) }}</div>

                </div>
                <div class="ui basic right aligned fitted segment">
                    <div class="inline field">
                        <label for="nbshow">{{ _T('Records per page:') }}</label>
                        <select name="nbshow" id="nbshow" class="ui dropdown nochosen">
                            {% for key, value in nbshow_options %}
                                <option value="{{ key }}"{% if key == numrows %} selected="selected"{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                        <noscript> <span><input type="submit" value="{{ _T('Change') }}" /></span></noscript>
                    </div>
                    {% include "components/forms/csrf.html.twig" %}
                </div>
            </div>
        </div>
    </form>


        <table class="listing ui celled table">
            <thead>
                <tr>
                    <th class="small_head">#</th>
                    <th class="left date_row">
                        <a href="{{ path_for("mailings", { "option": "order", "value": constant("Galette\\Filters\\MailingsList::ORDERBY_DATE") }) }}">
                            {{ _T('Date') }}
                            {% if filters.orderby == constant("Galette\\Filters\\MailingsList::ORDERBY_DATE") %}
                                {% if filters.ordered == constant("Galette\\Filters\\MailingsList::ORDER_ASC") %}
                            <i class="ui angle down icon tooltip"></i>
                                {% else %}
                            <i class="ui angle up icon tooltip"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th class="left username_row">
                        <a href="{{ path_for("mailings", { "option": "order", "value": constant("Galette\\Filters\\MailingsList::ORDERBY_SENDER") }) }}">
                            {{ _T('Sender') }}
                            {% if filters.orderby == constant("Galette\\Filters\\MailingsList::ORDERBY_SENDER") %}
                                {% if filters.ordered == constant("Galette\Filters\MailingsList::ORDER_ASC") %}
                            <i class="ui angle down icon tooltip"></i>
                                {% else %}
                            <i class="ui angle up icon tooltip"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th class="left small_head">
                        {{ _T('Recipients') }}
                    </th>
                    <th class="left">
                        <a href="{{ path_for("mailings", { "option": "order", "value": constant("Galette\\Filters\\MailingsList::ORDERBY_SUBJECT") }) }}">
                            {{ _T('Subject') }}
                            {% if filters.orderby == constant("Galette\\Filters\\MailingsList::ORDERBY_SUBJECT") %}
                                {% if filters.ordered == constant("Galette\Filters\MailingsList::ORDER_ASC") %}
                            <i class="ui angle down icon tooltip"></i>
                                {% else %}
                            <i class="ui angle up icon tooltip"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th title="{{ _T('Attachments') }}" class="small_head">
                        {{ _T('Att.') }}
                    </th>
                    <th class="left right small_head">
                        <a href="{{ path_for("mailings", { "option": "order", "value": constant("Galette\\Filters\\MailingsList::ORDERBY_SENT") }) }}">
                            {{ _T('Sent') }}
                            {% if filters.orderby == constant("Galette\\Filters\\MailingsList::ORDERBY_SENT") %}
                                {% if filters.ordered == constant("Galette\Filters\MailingsList::ORDER_ASC") %}
                            <i class="ui angle down icon tooltip"></i>
                                {% else %}
                            <i class="ui angle up icon tooltip"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    <th class="small_head">{{ _T('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
{% for log in logs %}
{% set date_format = _T('Y-m-d H:i:s') %}
                <tr class="{{ loop.index is odd ? 'odd' : 'even' }}">
                    <td data-scope="row">
    {% if preferences.pref_show_id %}
                        {{ log.mailing_id }}
    {% else %}
                        {{ loop.index }}
    {% endif %}
                        <span class="row-title">
                            {{ _T('Mailing entry %id')|replace({ '%id': log.mailing_id }) }}
                        </span>
                    </td>
                    <td class="" data-title="{{ _T('Date') }}">{{ log.mailing_date|date(date_format) }}</td>
                    <td data-title="{{ _T('Sender') }}">{% if log.mailing_sender == 0 %}{{ _T('Superadmin') }}{% else %}{{ log.mailing_sender_name }}{% endif %}</td>
                    <td data-title="{{ _T('Recipients') }}">{{ log.mailing_recipients[2:2]|first }}</td>
                    <td data-title="{{ _T('Subject') }}">{{ log.mailing_subject }}</td>
                    <td class="center" data-title="{{ _T('Attachments') }}">{{ log.attachments }}</td>
                    <td class="center{% if log.mailing_sent == 1 %} use{% endif %}" data-title="{{ _T('Sent') }}">
                        {% if log.mailing_sent == 1 %}
                            <i class="ui thumbs up green icon"></i>
                        {% else %}
                            <i class="ui thumbs down red icon"></i>
                        {% endif %}
                    </td>
                    <td class="center actions_row">
                        <a
                            href="{{ path_for("mailingPreview", { "id": log.mailing_id }) }}"
                            class="showdetails tooltip"
                        >
                            <i class="ui eye green icon"></i>
                            <span class="sr-only">{{ _T("Display mailing '%subject' details in preview window")|replace({ '%subject': log.mailing_subject }) }}</span>
                        </a>
                        <a
                            href="{{ path_for('mailing') }}?from={{ log.mailing_id }}"
                            class="tooltip"
                        >
                            <i class="ui clone blue icon"></i>
                            <span class="sr-only">{{ _T("Use mailing '%subject' as a template for a new one")|replace({ '%subject': log.mailing_subject }) }}</span>
                        </a>
                        <a
                            href="{{ path_for("removeMailing", { "id": log.mailing_id }) }}"
                            class="delete tooltip"
                        >
                            <i class="ui trash red icon"></i>
                            <span class="sr-only">{{ _T("Delete mailing '%subject'")|replace({ '%subject': log.mailing_subject }) }}</span>
                        </a>
                    </td>
                </tr>
{% else %}
                <tr><td colspan="8" class="emptylist">{{ _T('No sent mailing has been stored in the database yet.') }}</td></tr>
{% endfor %}
            </tbody>
        </table>
        <div class="ui basic center aligned fitted segment">
            <div class="ui inverted pagination menu">
                <div class="header item">
                    {{ _T('Pages:') }}
                </div>
                {{ pagination|raw }}
            </div>
        </div>
{% endblock %}

{% block javascripts %}
        <script type="text/javascript">
            {% include "elements/js/removal.js.twig" %}

            {# Preview popup #}
            $('.showdetails').click(function(){
                $.ajax({
                    url: $(this).attr('href'),
                    type: "POST",
                    data: {
                        ajax: true,
                    },
                    {% include "elements/js/loader.js.twig" %},
                    success: function(res){
                        _preview_dialog(res);
                    },
                    error: function() {
                        alert("{{ _T("An error occurred displaying preview :(")|e("js") }}");
                    }
                });
                return false;
            });

            var _preview_dialog = function(res){
                $('body').modal({
                    title: '{{ _T("Mailing preview")|e("js") }}',
                    class: 'scrolling',
                    content: res,
                    actions: [{
                        text    : '{{ _T("Close")|e("js") }}',
                        class   : 'cancel'
                    }]
                }).modal('show');
            }

        </script>
{% endblock %}
