{% extends (mode == 'ajax') ? "ajax.html.twig" : "page.html.twig" %}

{% block content %}
    <div id="confirm_removal"{% if mode == 'ajax' %} class="center"{% else %} title="{{ page_title }}"{% endif %}>
    <form action="{{ form_url }}" method="post">
    {% if mode != 'ajax' %}
        <div class="ui segment">
            <div class="content">
        {% if with_cascade is defined %}
                <div class="field inline">
        {% endif %}
    {% endif %}
    {% if with_cascade is defined %}
                    <label for="cascade">{{ _T("Cascade delete") }}</label>
                    <input type="checkbox" name="cascade" id="cascade" value="true" title="{{ _T("Delete all associated data") }}"/>
    {% endif %}
    {% if mode != 'ajax' %}
        {% if with_cascade is defined %}
                </div>
        {% endif %}
        {% if message is defined %}
                <div class="ui warning message">
        {% endif %}
    {% endif %}
    {% if message is defined %}
                    <p>{{ message }}</p>
    {% endif %}
    {% if mode != 'ajax' %}
        {% if message is defined %}
                </div>
        {% endif %}
                <div class="ui red message">
    {% endif %}
                    <p>{{ _T("Are you sure you want to proceed?") }}<br/>{{ _T("This can't be undone.") }}</p>
    {% if mode != 'ajax' %}
                </div>
            </div>
        </div>
        <div class="ui basic center aligned segment">
    {% else %}
        <div class="button-container">
    {% endif %}
            <input type="submit" id="delete" value="{{ _T("Remove") }}"{% if mode != 'ajax' %} class="ui primary button action"{% endif %}/>
            <a href="{{ cancel_uri }}" class="{% if mode != 'ajax' %}ui {% endif %}button" id="btncancel">{{ _T("Cancel") }}</a>
            <input type="hidden" name="confirm" value="1"/>
            {% if mode == 'ajax' %}<input type="hidden" name="ajax" value="true"/>{% endif %}
            {% for key, value in data %}
                {% if value is iterable %}
                    {% for val in value %}
                <input type="hidden" name="{{ key }}[]" value="{{ val }}"/>
                    {% endfor %}
                {% else %}
                <input type="hidden" name="{{ key }}" value="{{ value }}"/>
                {% endif %}
            {% endfor %}
            {% include 'components/forms/csrf.html.twig' %}
        </div>
    </form>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
