        <table class="listing ui celled table">
            <thead>
                <tr>
                    <th class="id_row">#</th>
                    <th>{{ _T("Name") }}</th>
                    <th>{{ _T("Permissions") }}</th>
                    <th class="date_row">{{ _T("Type") }}</th>
                    <th class="date_row">{{ _T("Required") }}</th>
                    <th>{{ _T("Actions") }}</th>
                </tr>
            </thead>
            <tbody>
{% for field in fields_list %}
                <tr class="{{ loop.index is odd ? 'odd' : 'even' }}">
                    <td>{{ field.getIndex() }}</td>
                    <td class="left">{{ field.getName()|escape }}</td>
                    <td class="left">{{ field.getPermName() }}</td>
                    <td class="left">{{ field.getTypeName() }}</td>
                    <td>
    {% if field.getType != 0 %}
        {% if field.isRequired() %}{{ _T("Yes") }}{% else %}{{ _T("No") }}{% endif %}
    {% endif %}
                    </td>
                    <td class="center actions_row">
                        <a
                            href="{{ path_for('editDynamicField', { 'form_name': form_name, 'id': field.getId() }) }}"
                            class="tooltip action"
                        >
                            <i class="ui user edit blue icon" aria-hidden="true"></i>
                            <span class="sr-only">{{ _T("Edit '%s' field")|replace({ '%s': field.getName()|escape }) }}</span>
                        </a>
                        <a
                            href="{{ path_for('removeDynamicField', { 'form_name': form_name, 'id': field.getId() }) }}"
                            class="delete tooltip"
                        >
                            <i class="ui trash red icon" aria-hidden="true"></i>
                            <span class="sr-only">{{ _T("Delete '%s' field")|replace({ '%s': field.getName()|escape }) }}</span>
                        </a>
                        <a
                            href="{{ path_for('dynamicTranslations', { 'text_orig': field.getName(false)|escape }) }}"
                            class="tooltip"
                        >
                            <i class="ui language grey icon" aria-hidden="true"></i>
                            <span class="sr-only">{{ _T("Translate '%s' field")|replace({ '%s': field.getName()|escape }) }}</span>
                        </a>
    {% if field.getIndex() == 1 %}
                        <i class="ui icon">&nbsp;</i>
    {% else %}
                        <a
                            href="{{ path_for('moveDynamicField', { 'form_name': form_name, 'direction': 'up', 'id': field.getId() }) }}"
                            class="tooltip action"
                        >
                            <i class="ui caret up grey icon"></i>
                            <span class="sr-only">{{ _T("Move up '%s' field")|replace({ '%s': field.getName()|escape }) }}</span>
                        </a>
    {% endif %}
    {% if field.getIndex() == fields_list|length %}
                        <i class="ui icon">&nbsp;</i>
    {% else %}
                        <a
                            href="{{ path_for('moveDynamicField', { 'form_name': form_name, 'direction': 'down', 'id': field.getId() }) }}"
                            class="tooltip"
                        >
                            <i class="ui caret down grey icon"></i>
                            <span class="sr-only">{{ _T("Move down '%s' field")|replace({ '%s': field.getName()|escape }) }}</span>
                        </a>
    {% endif %}
                    </td>
                </tr>
{% else %}
                <tr>
                    <td colspan="7">
                        {{ _T("There is not yet any dynamic field configured for '%formname'")|replace({ '%formname': form_title }) }}
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
            {% include "elements/js/removal.js.twig" %}
        </script>
