        <footer class="ui basic center aligned segment">
            <div class="row">
                <nav class="ui horizontal bulleted link list">
                    <a href="https://galette.eu" class="item">
                        <i class="icon globe europe"></i>
                        {{ _T("Website") }}
                    </a>
                    <a href="https://doc.galette.eu" class="item">
                        <i class="icon book"></i>
                       {{ _T("Documentation") }}
                    </a>
                    <a href="https://twitter.com/galette_soft" class="item">
                        <i class="icon twitter"></i>
                        @galette_soft
                    </a>
                    <a href="https://framapiaf.org/@galette" class="item">
                        <i class="icon mastodon"></i>
                        @galette
                    </a>
                </nav>
            </div>
            <div class="row">
                <nav class="ui horizontal bulleted link list">
                    <a id="darkmode" href="#" class="item">
                        <i class="adjust icon"></i>
                        {% if login.isDarkModeEnabled() %}{{ _T("Disable dark mode") }}{% else %}{{ _T("Enable dark mode") }}{% endif %}
                    </a>
                    <a id="copyright" href="https://galette.eu/" class="item">
                        <i class="icon cookie bite"></i>
                        Galette {{ constant('GALETTE_DISPLAY_VERSION') }}
                    </a>
{% if login.isLogged() and (login.isAdmin() or login.isStaff()) %}
                    <a id="sysinfos" href="{{ url_for('sysinfos') }}" class="item">
                        <i class="icon cogs"></i>
                        {{ _T("System information") }}
                    </a>
{% endif %}
                </nav>
{% if login.isLogged() and cur_route == 'dashboard' %}
                {# Comply with the Twemoji project's requirements about attribution #}
                <!--
                    Emojis used by Galette's core and its official plugins on the dashboard
                    are licensed under CC-BY 4.0 <https://creativecommons.org/licenses/by/4.0/>
                    by Twemoji <https://twemoji.twitter.com/>
                -->
{% endif %}
            </div>
{# Display footer line, if it does exists #}
{% if preferences.pref_footer != '' %}
            <div class="row">
                <div class="ui padded grid">
                    <div class="ui sixteen wide column">
                        {{ preferences.pref_footer|raw }}
                    </div>
                </div>
            </div>
{% endif %}
        </footer>
