{% set mode = mode|default('') %}
{% extends (mode == 'ajax') ? "ajax.html.twig" : "page.html.twig" %}
{% import "macros.twig" as macros %}

{% block content %}
    {% block search %}{% endblock %}
    {% block infoline %}
        <form action="{{ path_for(infoline.route.name, infoline.route.args|default([])) }}" method="post" id="filtre">
            <div class="infoline">
                <div class="ui basic horizontal segments">
                    <div class="ui basic fitted segment">
                        <div class="ui label">{{ infoline.label }}</div>
                    </div>
                    <div class="ui basic right aligned fitted segment">
                        <div class="inline field">
                            <label for="nbshow">{{ _T('Records per page:') }}</label>
                            <select name="nbshow" id="nbshow" class="ui dropdown nochosen">
                                {% for key, value in nbshow_options %}
                                    <option value="{{ key }}"{% if key == numrows %} selected="selected"{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            <noscript> <span><input type="submit" value="{{ _T('Change') }}" /></span></noscript>
                        </div>
                    </div>
                </div>
            </div>
            {% include "components/forms/csrf.html.twig" %}
        </form>
    {% endblock %}
    <form action="{%  if form is defined %}{{ path_for(form.route.name, form.route.args|default([])) }}{% endif %}" method="post" id="listform" class="ui form">
        <div class="ui basic fitted segment">
        <table class="listing ui celled table">
            <thead>
            <tr>
                {% block header %}
                    {% for column in columns %}
                        <th class="left">
                            {% if column.order is defined %}
                            <a href="{{ path_for(form.order.name, form.order.args|default([])|merge({"option": "order", "value": column.order})) }}">
                                {{ column.label }}
                                {% if filters.orderby == column.order %}
                                    {% if filters.ordered == constant('Galette\\Core\\Pagination::ORDER_ASC') %}
                                        <i class="ui angle down icon tooltip"></i>
                                    {% else %}
                                        <i class="ui angle up icon tooltip"></i>
                                    {% endif %}
                                {% endif %}
                            </a>
                            {% else %}
                                {{ column.label }}
                            {% endif %}
                        </th>
                    {% endfor %}
                    {% if mode != 'ajax' %}
                    <th class="actions_row">{{ _T('Actions') }}</th>
                    {% endif %}
                {% endblock %}
            </tr>
            </thead>
            <tbody>
                {% block body %}{% endblock %}
            </tbody>
            <tfoot>
                {% block footer %}{% endblock %}
            </tfoot>
        </table>
        </div>

        {% if batch_actions is defined and batch_actions|length > 0 %}
            <div class="ui bottom attached segment screen-only selection_menu">
                <div class="ui horizontal list">
                    <span class="ui primary ribbon label">{{ _T('For the selection:') }}</span>
                    {% for batch_action in batch_actions %}
                        {{ macros.drawBatchAction(batch_action.name, batch_action.label, batch_action.icon) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if is_paginated %}
            <div class="ui basic center aligned fitted segment">
                <div class="ui inverted pagination menu">
                    <div class="header item">
                        {{ _T('Pages:') }}
                    </div>
                    {{ pagination|raw }}
                </div>
            </div>
        {% endif %}

        {% block extra_form %}{% endblock %}
        {% include "components/forms/csrf.html.twig" %}
    </form>
    {% block legend %}{% set no_legend = true %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {% if batch is defined and batch_actions is defined and batch_actions|length > 0 %}
    <script type="text/javascript">
        var _checkselection = function() {
            var _checked = $('#listform').find('input[type=checkbox]:checked').length;
            if ( _checked == 0 ) {
                $('body').modal({
                    title: '{{ batch.modal.title|e("js") }}',
                    class: 'tiny',
                    content: '{{ batch.modal.content|e("js") }}',
                    actions: [{
                        text    : '{{ _T("Close")|e("js") }}',
                        class   : 'cancel'
                    }]
                }).modal('show');
                return false;
            } else {
                return true;
            }
        }
        $(function(){
            var _init_page = function(res){
        {% if login.isAdmin() or login.isStaff() %}
                {# Use of Javascript to draw specific elements that are not relevant is JS is inactive #}
                var _checklinks = '<div class="checkboxes ui basic horizontal segments"><div class="ui basic fitted segment">' +
                    '<a href="#" class="checkall ui blue tertiary button">{{ _T("(Un)Check all")|e('js') }}</a>' +
                    ' | <a href="#" class="checkinvert ui blue tertiary button">{{ _T("Invert selection")|e('js') }}</a></div>';
            {% if no_legend is not defined %}
                _checklinks += '<div class="ui basic right aligned fitted segment"><a href="#" class="show_legend ui blue tertiary button">{{ _T("Show legend")|e('js') }}</a></div></div>';
            {% endif %}

                $('.listing').before(_checklinks);
                $('.listing').after(_checklinks);
                _bind_check('entries_sel');
        {% endif %}
        {% if no_legend is not defined %}
                _bind_legend();
        {% endif %}

                $('.selection_menu *[type="submit"], .selection_menu *[type="button"]').click(function(event) {
                    //mass removal is handled from 2 steps removal
                    {% set batch_excludes = ['delete']|merge(batch_excludes|default([])) %}
                    if (
                        {% for batch_exclude in batch_excludes %}
                            {% if not loop.first %} || {% endif %}this.id == '{{ batch_exclude }}'
                        {% endfor %}
                    ) {
                        return;
                    }

                    if (!_checkselection()) {
                        return false;
                    } else {
                        {% block batch_selection %}{% endblock %}
                    }
                });
            }
            _init_page();

            {% include "elements/js/removal.js.twig" %}
            {% include "elements/js/removal.js.twig" with {
                selector: "#delete",
                deleteurl: path_for(batch.route.name, batch.route.args|default([])),
                extra_check: "if (!_checkselection()) { return false; }",
                extra_data: "delete: true, entries_sel: $('#listform input[type=\"checkbox\"]:checked').map(function(){ return $(this).val(); }).get()",
                method: "POST"
            } %}
        });
    </script>
    {% endif %}
{% endblock %}
