<div class="ui horizontal fluid card">
    <div class="image">
        <img
                src="{{ url_for("photo", {"id": member.id, "rand": time}) }}"
                width="{{ member.picture.getOptimalWidth() }}"
                height="{{ member.picture.getOptimalHeight() }}"
                alt="{{ _T("Picture") }}">
    </div>
    <div class="content">
        <div class="header aligned">
            {{ member.sname }}
        </div>
        <div class="meta aligned">
            <span>{{ member.sstatus }}</span>
        </div>
        <div class="description">
            <div class="ui relaxed divided list">
                {% if member.phone or member.gsm %}
                    <div class="item">
                        <div class="content">
                            <span class="header">{{ _T("Phone") }}</span>
                            <div class="description">
                                {% if member.phone %}
                                    {{ member.phone }}
                                {% endif %}
                                {% if member.gsm %}
                                    {% if member.phone %}, {% endif %}
                                    {{ member.gsm }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if member.getEmail() %}
                    <div class="item">
                        <div class="content">
                            <span class="blue header">{{ _T("Email") }}</span>
                            <div class="description">{{ member.getEMail() }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="extra {{ member.getRowClass() }} content">
        <i class="icon receipt"></i>
        {{ member.getDues()|escape }}
    </div>
</div>
