{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% set qrcodes = member.getQrCodes() %}
<div id="member_card" class="ui horizontal fluid card">
    {% if not (member.picture.path ends with '/default/images/default.png') %}
    <div class="image">
        <img
            id="photo_adh"
            src="{{ url_for("photo", {"id": member.id, "rand": time}) }}"
            width="{{ member.picture.getOptimalWidth() }}"
            height="{{ member.picture.getOptimalHeight() }}"
            alt="{{ _T("Picture") }}"
        >
    </div>
    {% endif %}
    <div class="content">
        <div class="header aligned">
            {{ member.sname }}
            <a href="{{ url_for("memberVCard", {"id": member.id}) }}" class="tooltip" title="{{ _T("Download VCard") }}">
                <i class="icon address card outline"></i>
                <span class="visually-hidden">{{ _T("Download VCard") }}</span>
            </a>
            {% if qrcodes.vcard is defined %}
                <a href="#" class="qrcode tooltip" title="{{ _T("Display QR Code") }}" data-modal="qrcode_vcard">
                    <i class="qrcode icon"></i>
                    <span class="visually-hidden">{{ _T("Display QR Code") }}</span>
                </a>
            {% endif %}
        </div>
        <div class="meta aligned">
            <span>{{ member.sstatus }}</span>
        </div>
        <div class="description">
            <div class="ui relaxed divided list">
                {% if member.phone or member.gsm %}
                    <div class="item">
                        <div class="content">
                            <span class="header">{{ _T("Phone") }}</span>
                            <div class="description">
                                {% if member.phone %}
                                    {{ member.phone }}
                                    {% if qrcodes.phone is defined %}
                                        <a href="#" class="qrcode tooltip" title="{{ _T("Display QR Code") }}" data-modal="qrcode_phone">
                                            <i class="qrcode icon"></i>
                                            <span class="visually-hidden">{{ _T("Display QR Code") }}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {% if member.gsm %}
                                    {% if member.phone %}, {% endif %}
                                    {{ member.gsm }}
                                    {% if qrcodes.gsm is defined %}
                                        <a href="#" class="qrcode tooltip" title="{{ _T("Display QR Code") }}" data-modal="qrcode_gsm">
                                            <i class="qrcode icon"></i>
                                            <span class="visually-hidden">{{ _T("Display QR Code") }}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if member.getEmail() %}
                    <div class="item">
                        <div class="content">
                            <span class="blue header">{{ _T("Email") }}</span>
                            <div class="description">
                                {{ member.getEMail() }}
                                {% if qrcodes.email is defined %}
                                    <a href="#" class="qrcode tooltip" title="{{ _T("Display QR Code") }}" data-modal="qrcode_email">
                                        <i class="qrcode icon"></i>
                                        <span class="visually-hidden">{{ _T("Display QR Code") }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="extra {{ member.getRowClass() }} content">
        <i class="icon receipt" aria-hidden="true"></i>
        {{ member.getDues()|escape }}
    </div>
</div>

{% for key, qrcode in qrcodes %}
    <div class="ui basic mini modal" id="qrcode_{{ key }}">
        <div class="center aligned content">
            <img src="{{ qrcode.getImage() }}" alt="{{ qrcode.getLabel() }}" title="{{ qrcode.getLabel() }}"/>
        </div>
    </div>
{% endfor %}

<script type="text/javascript">
    $('a.qrcode').on('click', function(e) {
        e.preventDefault();
        $('#' + this.dataset.modal).modal({context: 'body'}).modal('show');
    });
</script>
