        <script type="text/javascript">
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $(function(){
                $.ajaxPrefilter(function(options, originalOptions, jqXHR){
                    if (options.type.toLowerCase() === "post") {
                        // initialize `data` to empty string if it does not exist
                        options.data = options.data || "";

                        // add leading ampersand if `data` is non-empty
                        options.data += options.data?"&":"";

                        // add csrf
                        options.data += encodeURIComponent("{{ csrf_name_key }}") + "=" + encodeURIComponent("{{ csrf_name }}") + "&" + encodeURIComponent("{{ csrf_value_key }}") + "=" + encodeURIComponent("{{ csrf_value }}")
                    }
                });

                $.datepicker.setDefaults($.datepicker.regional['{{ galette_lang }}']);
    {% if galette_lang == 'en' %}
                $.datepicker.setDefaults({
                    dateFormat: 'yy-mm-dd'
                });
    {% endif %}

    {% if autocomplete %}
                $('#ville_adh, #lieu_naissance').autocomplete({
                    source: function (request, response) {
                        $.post('{{ path_for('suggestTown') }}', request, response);
                    },
                    minLength: 2
                });
                $('#pays_adh').autocomplete({
                    source: function (request, response) {
                        $.post('{{ path_for('suggestCountry') }}', request, response);
                    },
                    minLength: 2
                });
    {% endif %}

    {% if renew_telemetry is defined %}
            {% include "modals/telemetry.html.twig" with {part: "jsdialog"} %}
    {% endif %}

            {% include "elements/js/messages.js.twig" %}

            });
        </script>
        <script type="module" src="{{ base_url() }}/assets/js/galette-sortablejs.bundle.min.js"></script>
    {% if require_charts %}
        <script type="module" src="{{ base_url() }}/assets/js/galette-chartjs.bundle.min.js"></script>
    {% endif %}
    {% if require_mass %}
        <script type="text/javascript" src="{{ base_url() }}/js/mass_changes.js"></script>
    {% endif %}
    {% if html_editor %}
        <script src="{{ base_url() }}/assets/js/lang/summernote-{{ i18n.getID()|replace({'_': '-'}) }}.min.js"></script>
        <script language="javascript">
            function activateMailingEditor(id) {
                if(!$('#mailing_html').attr('checked')){
                    $('#mailing_html').attr('checked', true);
                }

                $('input#html_editor_active').attr('value', '1');
                $('#activate_editor').remove();
                $('#summernote_toggler').html('<a class="ui blue tertiary button" href="javascript:deactivateMailingEditor(\'mailing_corps\');" id="deactivate_editor">{{ _T("Deactivate HTML editor") }}</a>');

                $('#mailing_corps').summernote({
                    lang: '{{ i18n.getID()|replace({'_': '-'}) }}',
                    height: 240,
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'italic', 'strikethrough', 'clear']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['insert', ['link', 'picture']],
                        ['view', ['codeview', 'help']]
                    ],
                    styleTags: [
                        'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
                    ]
                });
                $('#mailing_corps').summernote('focus');
            }
            function deactivateMailingEditor(id) {
                $('#mailing_corps').summernote('destroy');
                $('#deactivate_editor').remove();
                $('#summernote_toggler').html('<a class="ui blue tertiary button" href="javascript:activateMailingEditor(\'mailing_corps\');" id="activate_editor">{{ _T("Activate HTML editor") }}</a>');
            }
        {% if html_editor_active == 1 %}
            $(function(){
                $('#activate_editor').remove();
                $('#summernote_toggler').html('<a class="ui blue tertiary button" href="javascript:deactivateMailingEditor(\'mailing_corps\');" id="deactivate_editor">{{ _T("Deactivate HTML editor") }}</a>');

                $('#mailing_corps').summernote({
                    height: 240,
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'italic', 'strikethrough', 'clear']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['insert', ['link', 'picture']],
                        ['view', ['codeview', 'help']]
                    ],
                    styleTags: [
                        'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
                    ]
                });
                $('#mailing_corps').summernote('focus');
            });
        {% endif %}
        </script>
    {% endif %}
    {% set localjstracking = constant('_CURRENT_THEME_PATH') ~ "tracking.js" %}
    {% if file_exists(localjstracking) %}
        <script type="text/javascript" src="{{ base_url() }}/{{ constant('GALETTE_THEME') }}/tracking.js"></script>
    {% endif %}
