<!DOCTYPE html>
<html lang="{{ galette_lang }}" class="public_page">
    <head>
        {% include 'elements/header.html.twig' %}
    </head>
    <body>
        <div class="ui container">
            <header class="ui basic center aligned segment">
                <img src="{{ url_for('logo') }}" width="{{ logo.getOptimalWidth() }}" height="{{ logo.getOptimalHeight() }}" alt="[ Galette ]" />
            </header>
            <div class="ui red message">
                <h2 class="ui center aligned header">{{ _T("Page not found") }}</h2>
            </div>
            <div class="ui basic fitted center aligned segment">
                <p class="ui large text">{{ _T("Sorry, the page you are looking for could not be found.") }}</p>
            </div>
            <nav class="ui basic center aligned segment">
                <a href="{{ url_for('slash') }}" class="ui labeled icon primary button">
                    <i class="home icon" aria-hidden="true"></i>
                    {{ _T("Home") }}
                </a>
            </nav>
        </div>

        {% include "elements/footer.html.twig" %}
    </body>
</html>
