{% extends 'page.html.twig' %}

{% block content %}
        <form action="{{ path_for('filter-memberslist') }}" method="post" id="filtre" class="ui form">
            <div class="galetteform ui styled fluid accordion field">
                <div class="active ui title">
                    <i class="dropdown icon"></i>
                    {{ _T('Simple search') }}
                </div>
                <div class="active content">
                    <div class="four fields">
                        <div class="field">
                            <label for="filter_str">{{ _T('Search:') }}</label>
                            <input type="text" name="filter_str" id="filter_str" value="{{ filters.filter_str }}" type="search" placeholder="{{ _T('Enter a value') }}"/>
                        </div>
                        <div class="field">
                            <label for="field_filter">{{ _T('in:') }}</label>
                            <select name="field_filter" class="ui search dropdown nochosen">
    {% for key, value in field_filter_options %}
                                <option value="{{ key }}"{% if key == filters.field_filter %} selected="selected"{% endif %}>{{ value }}</option>
    {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label for="membership_filter">{{ _T('Membership status') }}</label>
                            <select id="membership_filter" name="membership_filter" class="ui search dropdown nochosen">
    {% for key, value in membership_filter_options %}
                                    <option value="{{ key }}"{% if key == filters.membership_filter %} selected="selected"{% endif %}>{{ value }}</option>
    {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label for="filter_account">{{ _T('Account activity') }}</label>
                            <select id="filter_account" name="filter_account" class="ui search dropdown nochosen">
    {% for key, value in filter_accounts_options %}
                                    <option value="{{ key }}"{% if key == filters.filter_account %} selected="selected"{% endif %}>{{ value }}</option>
    {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label for="group_filter">{{ _T('Member of group') }}</label>
                            <select name="group_filter" id="group_filter" class="ui search dropdown nochosen">
                                <option value="0">{{ _T('Select a group') }}</option>
{% for group in filter_groups_options %}
                                <option value="{{ group.getId() }}"{% if filters.group_filter == group.getId() %} selected="selected"{% endif %}>{{ group.getIndentName()|raw }}</option>
{% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="inline fields">
                        <label for="email_filter">{{ _T('With email:') }}</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="email_filter" id="filter_dc_email" value="{{ constant("Galette\\Repository\\Members::FILTER_DC_EMAIL") }}"{% if filters.email_filter == constant('Galette\\Repository\\Members::FILTER_DC_EMAIL') %} checked="checked"{% endif %}>
                                <label for="filter_dc_email">{{ _T("Don't care") }}</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="email_filter" id="filter_with_email" value="{{ constant("Galette\\Repository\\Members::FILTER_W_EMAIL") }}"{% if filters.email_filter == constant("Galette\\Repository\\Members::FILTER_W_EMAIL") %} checked="checked"{% endif %}>
                                <label for="filter_with_email">{{ _T('With') }}</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="email_filter" id="filter_without_email" value="{{ constant("Galette\\Repository\\Members::FILTER_WO_EMAIL") }}"{% if filters.email_filter == constant("Galette\\Repository\\Members::FILTER_WO_EMAIL") %} checked="checked"{% endif %}>
                                <label for="filter_without_email">{{ _T('Without') }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="galetteform ui styled fluid accordion field">
                <div class="active ui title">
                    <i class="dropdown icon"></i>
                    {{ _T('Advanced search') }}
                </div>
                <div class="active content">
                    <div class="two fields">
                        <div class="field">
                            <label>{{ _T('Birth date') }}</label>
                            <div class="two fields">
                                <div class="field">
                                    <label for="birth_date_begin">{{ _T('beetween') }}</label>
                                    <div class="ui calendar" id="birth-rangestart">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                                <input id="birth_date_begin" name="birth_date_begin" type="text" class="birth_date" maxlength="10" size="10" value="{{ filters.birth_date_begin }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="birth_date_end">{{ _T('and') }}</label>
                                    <div class="ui calendar" id="birth-rangeend">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                                <input id="birth_date_end" name="birth_date_end" type="text" class="birth_date" maxlength="10" size="10" value="{{ filters.birth_date_end }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>{{ _T('Creation date') }}</label>
                            <div class="two fields">
                                <div class="field">
                                    <label for="creation_date_begin">{{ _T('beetween') }}</label>
                                    <div class="ui calendar" id="creation-rangestart">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                                <input id="creation_date_begin" name="creation_date_begin" type="text" class="modif_date" maxlength="10" size="10" value="{{ filters.creation_date_begin }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="creation_date_end">{{ _T('and') }}</label>
                                    <div class="ui calendar" id="creation-rangeend">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                                <input id="creation_date_end" name="creation_date_end" type="text" class="modif_date" maxlength="10" size="10" value="{{ filters.creation_date_end }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>{{ _T('Modification date') }}</label>
                            <div class="two fields">
                                <div class="field">
                                    <label for="modif_date_begin">{{ _T('beetween') }}</label>
                                    <div class="ui calendar" id="modification-rangestart">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                                <input id="modif_date_begin" name="modif_date_begin" type="text" class="modif_date" maxlength="10" size="10" value="{{ filters.modif_date_begin }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="modif_date_end">{{ _T('and') }}</label>
                                    <div class="ui calendar" id="modification-rangeend">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                                <input id="modif_date_end" name="modif_date_end" type="text" class="modif_date" maxlength="10" size="10" value="{{ filters.modif_date_end }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>{{ _T('Due date') }}</label>
                            <div class="two fields">
                                <div class="field">
                                    <label for="due_date_begin">{{ _T('beetween') }}</label>
                                    <div class="ui calendar" id="due-rangestart">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                                <input id="due_date_begin" name="due_date_begin" type="text" class="due_date" maxlength="10" size="10" value="{{ filters.due_date_begin }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="due_date_end">{{ _T('and') }}</label>
                                    <div class="ui calendar" id="due-rangeend">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                                <input id="due_date_end" name="due_date_end" type="text" class="due_date" maxlength="10" size="10" value="{{ filters.due_date_end }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="grouped fields">
                                <label for="show_public_infos">{{ _T('Show public infos') }}</label>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="show_public_infos" id="show_public_infos_dc" value="{{ constant("Galette\\Repository\\Members::FILTER_DC_PUBINFOS") }}"{% if filters.show_public_infos == constant("Galette\\Repository\\Members::FILTER_DC_PUBINFOS") %} checked="checked"{% endif %}>
                                        <label for="show_public_infos_dc" >{{ _T("Don't care") }}</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="show_public_infos" id="show_public_infos_yes" value="{{ constant("Galette\\Repository\\Members::FILTER_W_PUBINFOS") }}"{% if filters.show_public_infos == constant("Galette\\Repository\\Members::FILTER_W_PUBINFOS") %} checked="checked"{% endif %}>
                                        <label for="show_public_infos_yes" >{{ _T('Yes') }}</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="show_public_infos" id="show_public_infos_no" value="{{ constant("Galette\\Repository\\Members::FILTER_WO_PUBINFOS") }}"{% if filters.show_public_infos == constant("Galette\\Repository\\Members::FILTER_WO_PUBINFOS") %} checked="checked"{% endif %}>
                                        <label for="show_public_infos_no" >{{ _T('No') }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="status">{{ _T('Status') }}</label>
                            <select name="status[]" id="status" multiple="" class="ui search dropdown nochosen">
                                <option value="">{{ _T('Status') }}</option>
    {% for key, value in statuts %}
                                    <option value="{{ key }}"{% if key == filters.status %} selected="selected"{% endif %}>{{ value }}</option>
    {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="galetteform ui styled fluid accordion field">
                <div class="active ui title">
                    <i class="dropdown icon"></i>
                    {{ _T('Advanced groups search') }} ({{ _T('Experimental') }})
                    <a
                        href="#"
                        id="addbutton_g"
                        class="ui tiny compact icon green button tab-button tooltip"
                    >
                        <i class="plus icon"></i>
                        <span class="hidden">{{ _T('Add new group search criteria') }}</span>
                    </a>
                </div>
                <div class="active content">
                    <select name="groups_logical_operator" class="operator_selector nochosen">
                      <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_AND") }}"{% if filters.groups_search_log_op == constant("Galette\\Filters\\AdvancedMembersList::OP_AND") %} selected="selected"{% endif %}>{{ _T('In all selected groups') }}</option>
                      <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_OR") }}"{% if filters.groups_search_log_op == constant("Galette\\Filters\\AdvancedMembersList::OP_OR") %} selected="selected"{% endif %}>{{ _T('In any of selected groups') }}</option>
                    </select>
                    <ul id="groups_search_list" class="fields_list">
                    {% for gs in filters.groups_search %}
                             <li>
                                <select name="groups_search[]" class="group_selector nochosen">
                                        <option value="">{{ _T('Select a group') }}</option>
                                        {% for group in filter_groups_options %}
                                        <option value="{{ group.getId() }}"{% if gs.group == group.getId() %} selected="selected"{% endif %}>{{ group.getName() }}</option>
                                        {% endfor %}
                                </select>
                                <a
                                    href="#"
                                    class="ui small compact red icon button fright tooltip delete delcriteria"
                                >
                                    <i class="trash alt icon"></i>
                                    <span class="sr-only">{{ _T('Remove criteria') }}</span>
                                </a>
                            </li>
                        {% endfor %}
                     </ul>
                </div>
            </div>

            <div class="galetteform ui styled fluid accordion field">
                <div class="active ui title">
                    <i class="dropdown icon"></i>
                    {{ _T('Within contributions') }}
                </div>
                <div class="active content">
                    <div class="two fields">
                        <div class="field">
                            <label>{{ _T('Creation date') }}</label>
                            <div class="two fields">
                                <div class="field">
                                    <label for="contrib_creation_date_begin">{{ _T('beetween') }}</label>
                                    <div class="ui calendar" id="contrib-creation-rangestart">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="contrib_creation_date_begin" name="contrib_creation_date_begin" type="text" class="modif_date" maxlength="10" size="10" value="{{ filters.contrib_creation_date_begin }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="contrib_creation_date_end">{{ _T('and') }}</label>
                                    <div class="ui calendar" id="contrib-creation-rangeend">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="contrib_creation_date_end" name="contrib_creation_date_end" type="text" class="modif_date" maxlength="10" size="10" value="{{ filters.contrib_creation_date_end }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>{{ _T('Begin date') }}</label>
                            <div class="two fields">
                                <div class="field">
                                    <label for="contrib_begin_date_begin">{{ _T('beetween') }}</label>
                                    <div class="ui calendar" id="contrib-begin-rangestart">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="contrib_begin_date_begin" name="contrib_begin_date_begin" type="text" class="modif_date" maxlength="10" size="10" value="{{ filters.contrib_begin_date_begin }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="contrib_begin_date_end">{{ _T('and') }}</label>
                                    <div class="ui calendar" id="contrib-begin-rangeend">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="contrib_begin_date_end" name="contrib_begin_date_end" type="text" class="modif_date" maxlength="10" size="10" value="{{ filters.contrib_begin_date_end }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>{{ _T('End date') }}</label>
                            <div class="two fields">
                                <div class="field">
                                    <label for="contrib_end_date_begin">{{ _T('beetween') }}</label>
                                    <div class="ui calendar" id="contrib-end-rangestart">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="contrib_end_date_begin" name="contrib_end_date_begin" type="text" class="due_date" maxlength="10" size="10" value="{{ filters.contrib_end_date_begin }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="contrib_end_date_end">{{ _T('and') }}</label>
                                    <div class="ui calendar" id="contrib-end-rangeend">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                                <input id="contrib_end_date_end" name="contrib_end_date_end" type="text" class="due_date" maxlength="10" size="10" value="{{ filters.contrib_end_date_end }}" placeholder="{{ _T('(yyyy-mm-dd format)') }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>{{ _T('Amount') }}</label>
                            <div class="two fields">
                                <div class="field">
                                    <label for="contrib_min_amount">{{ _T('beetween') }}</label>
                                    <input id="contrib_min_amount" name="contrib_min_amount" type="text" maxlength="10" size="10" value="{{ filters.contrib_min_amount }}"/>
                                </div>
                                <div class="field">
                                    <label for="contrib_max_amount">{{ _T('and') }}</label>
                                    <input id="contrib_max_amount" name="contrib_max_amount" type="text" maxlength="10" size="10" value="{{ filters.contrib_max_amount }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label for="contributions_types">{{ _T('Type') }}</label>
                            <select name="contributions_types[]" id="contributions_types" multiple="" class="ui dropdown nochosen">
                                <option value="">{{ _T('Type') }}</option>

                            {% for key, value in contributions_types %}
                                    <option value="{{ key }}"{% if key == filters.contributions_types %} selected="selected"{% endif %}>{{ value }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label for="payments_types">{{ _T('Payment type') }}</label>
                            <select name="payments_types[]" id="payments_types" multiple="" class="ui dropdown nochosen">
                                <option value="">{{ _T('Payment type') }}</option>
                            {% for key, value in payments_types %}
                                <option value="{{ key }}"{% if key == filters.payments_types %} selected="selected"{% endif %}>{{ value }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
{% for field in contrib_dynamics %}
                    <div class="field">
    {% set fid = field.getId() %}
    {% if get_class(field) == "Galette\\DynamicFields\\Choice" %}
        {% set rid = "cdsc_" ~ fid %}
    {% else %}
        {% set rid = "cds_" ~ fid %}
    {% endif %}
                        <label for="cds{% if get_class(field) == "Galette\\DynamicFields\\Choice" %}c{% endif %}_{{ field.getId() }}">{{ field.getName() }}</label>
    {% if get_class(field) == "Galette\\DynamicFields\\Line" %}
                        <input type="text" name="cds_{{ field.getId() }}" id="cds_{{ field.getId() }}" value="{% if attribute(filters.contrib_dynamic, rid) is defined %}{{ attribute(filters.contrib_dynamic, rid) }}{% endif %}" />
    {% elseif get_class(field) == "Galette\\DynamicFields\\Text" %}
                        <textarea name="cds_{{ field.getId() }}" id="cds_{{ field.getId() }}">{% if attribute(filters.contrib_dynamic, rid) is defined %}{{ attribute(filters.contrib_dynamic, rid) }}{% endif %}</textarea>
    {% elseif get_class(field) == "Galette\\DynamicFields\\Choice" %}
                        <select name="cdsc_{{ field.getId() }}[]" id="cdsc_{{ field.getId() }}" multiple="multiple" class="ui dropdown nochosen">
                            <option value="">{{ _T('Select') }}</option>
        {% for k, choice in field.getValues() %}
                            <option value="{{ k }}"{% if cds.field is defined and cds.field == rid %} selected="selected"{% endif %}>{{ choice }}</option>
        {% endfor %}
                        </select>
    {% endif %}
                    </div>
{% endfor %}
                </div>
            </div>
                <div class="galetteform ui styled fluid accordion field">
                    <div class="active ui title">
                        <i class="dropdown icon"></i>
                        {{ _T('Free search') }}
                        <a
                            href="#"
                            id="addbutton"
                            class="ui tiny compact icon green button tab-button tooltip"
                        >
                            <i class="plus icon"></i>
                            <span class="hidden">{{ _T('Add new free search criteria') }}</span>
                        </a>
                    </div>
                    <div class="active content">
                        <ul id="fs_sortable" class="fields_list connectedSortable">
{% for fs in filters.free_search %}
                            <li>
                                <select name="free_logical_operator[]" class="operator_selector nochosen">
                                    <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_AND") }}"{% if fs.log_op == constant("Galette\\Filters\\AdvancedMembersList::OP_AND") %} selected="selected"{% endif %}>{{ _T('and') }}</option>
                                    <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_OR") }}"{% if fs.log_op == constant("Galette\\Filters\\AdvancedMembersList::OP_OR") %} selected="selected"{% endif %}>{{ _T('or') }}</option>
                                </select>
                                <select name="free_field[]" class="field_selector nochosen">
                                    <option value="">{{ _T('Select a field') }}</option>
    {% for key, field in search_fields %}
        {% if fs.field == key %}
            {% if key starts with 'date_' or key == 'ddn_adh' %}
                {% set type = constant("Galette\\DynamicFields\\DynamicField::DATE") %}
            {% elseif key == constant("Galette\\Entity\\Status::PK") %}
                {% set type = constant("Galette\\DynamicFields\\DynamicField::CHOICE") %}
                {% set fvalues = statuts %}
            {% elseif key == 'sexe_adh' %}
                {% set type = constant("Galette\\DynamicFields\\DynamicField::CHOICE") %}
                {% set fvalues = {
                        (constant("Galette\\Entity\\Adherent::NC")): _T('Unspecified'),
                        (constant("Galette\\Entity\\Adherent::MAN")): _T('Man'),
                        (constant("Galette\\Entity\\Adherent::WOMAN")): _T('Woman')
                } %}
            {% else %}
                {% set type = constant("Galette\\DynamicFields\\DynamicField::LINE") %}
            {% endif %}
        {% endif %}
                                    <option value="{{ key }}"{% if fs.field == key %} selected="selected"{% endif %}>{{ field.label }}</option>
    {% endfor %}
    {% for field in adh_dynamics %}
        {% if get_class(field) != "Galette\\DynamicFields\\Separator" %}
            {% set fid = field.getId() %}
            {% set rid = "dyn_" ~ fid %}
            {% if fs.field == rid %}
                {% set cur_field = field %}
            {% endif %}
        {% endif %}
        <option value="dyn_{{ field.getId() }}"{% if fs.field == rid %} selected="selected"{% endif %}>{{ field.getName() }}</option>
    {% endfor %}
    {% for type, label in adh_socials %}
        {% set rid = "socials_" ~ type %}
        {% if fs.field == rid %}
            {% set cur_field = type %}
        {% endif %}
        <option value="socials_{{ type }}"{% if fs.field == rid %} selected="selected"{% endif %}>{{ label }}</option>
    {% endfor %}

                        </select>
    {# may not be defined #}
    {#  #}
    {% if type is not defined %}{% set type = null %}{% endif %}
                                <span class="data">
                                    <input type="hidden" name="free_type[]" value="{% if cur_field is defined %}{{ cur_field.getType() }}{% endif %}"/>
    {% if cur_field is defined and (get_class(cur_field) == "Galette\\DynamicFields\\Choice" or type == constant("Galette\\DynamicFields\\DynamicField::CHOICE")) %}
                                    <select name="free_query_operator[]" class="free_operator nochosen">
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_EQUALS") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_EQUALS") %} selected="selected"{% endif %}>{{ _T('is') }}</option>
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_NOT_EQUALS") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_NOT_EQUALS") %} selected="selected"{% endif %}>{{ _T('is not') }}</option>
                                    </select>
                                    <select name="free_text[]" class="free_text nochosen">
        {% if cur_field is defined and get_class(cur_field) == "Galette\\DynamicFields\\Choice" %}
            {% for key, value in cur_field.getValues() %}
                                        <option value="{{ key }}"{% if key == fs.search %} selected="selected"{% endif %}>{{ value }}</option>
            {% endfor %}
        {% else %}
            {% for key, value in fvalues %}
                <option value="{{ key }}"{% if key == fs.search %} selected="selected"{% endif %}>{{ value }}</option>
            {% endfor %}
        {% endif %}
                                    </select>
    {% elseif cur_field is defined and (get_class(cur_field) == "Galette\\DynamicFields\\Date" or type == constant("Galette\\DynamicFields\\DynamicField::DATE")) %}
                                    <select name="free_query_operator[]" class="free_operator nochosen">
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_EQUALS") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_EQUALS") %} selected="selected"{% endif %}>{{ _T('is') }}</option>
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_BEFORE") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_BEFORE") %} selected="selected"{% endif %}>{{ _T('before') }}</option>
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_AFTER") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_AFTER") %} selected="selected"{% endif %}>{{ _T('after') }}</option>
                                    </select>
                                    <input type="text" name="free_text[]" value="{{ fs.search|date(_T('Y-m-d')) }}" class="modif_date" maxlength="10" size="10"/>
                                    <span class="exemple">{{ _T('(yyyy-mm-dd format)') }}</span>
    {% elseif cur_field is defined and (get_class(cur_field) == "Galette\\DynamicFields\\Boolean" or type == constant("Galette\\DynamicFields\\DynamicField::BOOLEAN")) %}
                                    <select name="free_query_operator[]" class="free_operator nochosen">
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_EQUALS") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_EQUALS") %} selected="selected"{% endif %}>{{ _T('is') }}</option>
                                    </select>
                                    <input type="radio" name="free_text[]" id="free_text_yes" value="1"{% if fs.search == 1 %} checked="checked"{% endif %}/><label for="free_text_yes">{{ _T('Yes') }}</label>
                                    <input type="radio" name="free_text[]" id="free_text_no" value="0"{% if fs.search == 0 %} checked="checked"{% endif %}/><label for="free_text_no">{{ _T('No') }}</label>
    {% else %}
                                    <select name="free_query_operator[]" class="free_operator nochosen">
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_EQUALS") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_EQUALS") %} selected="selected"{% endif %}>{{ _T('is') }}</option>
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_CONTAINS") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_CONTAINS") %} selected="selected"{% endif %}>{{ _T('contains') }}</option>
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_NOT_EQUALS") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_NOT_EQUALS") %} selected="selected"{% endif %}>{{ _T('is not') }}</option>
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_NOT_CONTAINS") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_NOT_CONTAINS") %} selected="selected"{% endif %}>{{ _T('do not contains') }}</option>
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_STARTS_WITH") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_STARTS_WITH") %} selected="selected"{% endif %}>{{ _T('starts with') }}</option>
                                        <option value="{{ constant("Galette\\Filters\\AdvancedMembersList::OP_ENDS_WITH") }}"{% if fs.qry_op == constant("Galette\\Filters\\AdvancedMembersList::OP_ENDS_WITH") %} selected="selected"{% endif %}>{{ _T('ends with') }}</option>
                                    </select>
                                    <input type="text" name="free_text[]" value="{{ fs.search }}"{% if cur_field is defined and get_class(cur_field) == "Galette\\DynamicFields\\Text" %} class="large"{% endif %}/>
    {% endif %}
                                </span>
                                <a
                                    href="#"
                                    class="ui small compact red icon button fright tooltip delete delcriteria"
                                >
                                    <i class="trash alt icon"></i>
                                    <span class="sr-only">{{ _T('Remove criteria') }}</span>
                                </a>
                            </li>
{% endfor %}
                        </ul>
                    </div>
                </div>
            <div class="ui basic center aligned segment">
                <button type="submit" class="ui labeled icon primary button action">
                    <i class="search icon" aria-hidden="true"></i>
                    {{ _T('Filter') }}
                </button>
                <input type="hidden" name="advanced_filtering" value="true" />
                <button type="submit" name="clear_adv_filter" class="ui labeled icon button delete">
                    <i class="trash alt red icon" aria-hidden="true"></i>
                    {{ _T('Clear filter') }}
                </button>
                {% include "components/forms/csrf.html.twig" %}
            </div>
        </form>
{% endblock %}

{% block javascripts %}
        <script type="text/javascript">
            var _operators = {
                op_equals: {
                    id: {{ constant("Galette\\Filters\\AdvancedMembersList::OP_EQUALS") }},
                    name: "{{ _T('is') }}"
                },
                op_contains: {
                    id: {{ constant("Galette\\Filters\\AdvancedMembersList::OP_CONTAINS") }},
                    name: "{{ _T('contains') }}"
                },
                op_not_equals: {
                    id: {{ constant("Galette\\Filters\\AdvancedMembersList::OP_NOT_EQUALS") }},
                    name: "{{ _T('is not') }}"
                },
                op_not_contains: {
                    id: {{ constant("Galette\\Filters\\AdvancedMembersList::OP_NOT_CONTAINS") }},
                    name: "{{ _T('do not contains') }}"
                },
                op_starts_with: {
                    id: {{ constant("Galette\\Filters\\AdvancedMembersList::OP_STARTS_WITH") }},
                    name: "{{ _T('starts with') }}"
                },
                op_ends_with: {
                    id: {{ constant("Galette\\Filters\\AdvancedMembersList::OP_ENDS_WITH") }},
                    name: "{{ _T('ends with') }}"
                },
                op_before: {
                    id: {{ constant("Galette\\Filters\\AdvancedMembersList::OP_BEFORE") }},
                    name: "{{ _T('before') }}"
                },
                op_after: {
                    id: {{ constant("Galette\\Filters\\AdvancedMembersList::OP_AFTER") }},
                    name: "{{ _T('after') }}"
                },
            };

            var _fields = {
{% for key, field in search_fields %}
    {% if key starts with 'date_' or key == 'ddn_adh' %}
        {% set type = constant("Galette\\DynamicFields\\DynamicField::DATE") %}
    {% elseif key == constant("Galette\\Entity\\Status::PK") %}
        {% set type = constant("Galette\\DynamicFields\\DynamicField::CHOICE") %}
        {% set fvalues = statuts %}
    {% elseif key == 'sexe_adh' %}
        {% set type = constant("Galette\\DynamicFields\\DynamicField::CHOICE") %}
        {% set fvalues = {
                (constant("Galette\\Entity\\Adherent::NC")): _T('Unspecified'),
                (constant("Galette\\Entity\\Adherent::MAN")): _T('Man'),
                (constant("Galette\\Entity\\Adherent::WOMAN")): _T('Woman')
        } %}
    {% else %}
        {% set type = constant("Galette\\DynamicFields\\DynamicField::LINE") %}
    {% endif %}
                {{ key }}: { type:'{{ type }}'{% if fvalues is defined %}, values: {{ fvalues|json_encode }}{% endif %} },
{% endfor %}
{% for field in adh_dynamics %}
    {% if get_class(field) == "Galette\\DynamicFields\\Separator" %}
            {# do nothing #}
    {% elseif get_class(field) == "Galette\\DynamicFields\\Choice" %}
                dyn_{{ field.getId() }}: { type:'{{ field.getType() }}', values: {{ field.getValues()|json_encode }} },
    {% else %}
                dyn_{{ field.getId() }}: { type:'{{ field.getType() }}' },
    {% endif %}
{% endfor %}
            };

            var _newFilter = function(elt) {
                elt.find('span').html('');
                elt.find('select.operator_selector').val(0);
                elt.find('select.field_selector').val('');
            }
            var _rmFilter = function(elt) {
                if ( !elt ) {
                    elt = $('li');
                }
                elt.find('.delcriteria').click(function(){
                    var _this = $(this);
                    if ( _this.parents('ul').find('li').length > 1 ) {
                        _this.parent('li').remove();
                    } else {
                        _newFilter(_this.parent('li'));
                    }
                    return false;
                });
            }
            var _getOperatorSelector = function(list) {
                var _options = '';
                for (var i = 0; i < list.length; i++) {
                    var _operator = _operators[list[i]];
                    _options += '<option value="' + _operator.id + '">' + _operator.name + '</option>';
                }
                return '<select name="free_query_operator[]" class="free_operator newselectize">' + _options + '</select>';
            }

            /*var _datePickers = function() {
                $('.modif_date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showOn: 'button',
                    maxDate: '-0d',
                    yearRange: 'c-10:c+0',
                    buttonText: '<i class="ui calendar alt icon"></i> <span class="sr-only">{{ _T("Select a date")|e('js') }}</span>'
                });
                $('.due_date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showOn: 'button',
                    yearRange: 'c-10:c+5',
                    buttonText: '<i class="ui calendar alt icon"></i> <span class="sr-only">{{ _T("Select a date")|e('js') }}</span>'
                });
            }*/

            var _selectize = function(selector) {
                if ( !selector ) {
                    selector = '.operator_selector,.field_selector,.free_operator,.free_text,.group_selector';
                }

                $(selector).selectize({
                    maxItems: 1
                });
            }

            var _initFieldSelector = function(parent) {
                if (typeof parent == 'undefined') {
                    parent = '';
                }
                $(parent + '.field_selector').change(function () {
                    var _field_id = $(this).val();
                    var _field    = _fields[_field_id];
                    var _type     = _field.type;

                    if (!_type) {
                        return false;
                    }

                    var _html;
                    switch(_type) {
                        case '{{ constant('Galette\\DynamicFields\\DynamicField::BOOLEAN') }}':
                            _html  = _getOperatorSelector(['op_equals']);

                            _html += '<input type="radio" name="free_text[]" id="free_text_yes" value="1"/><label for="free_text_yes">{{ _T('Yes') }}</label><input type="radio" name="free_text[]" id="free_text_no" value="0"/><label for="free_text_no">{{ _T('No') }}</label>';
                            break;
                        case '{{ constant('Galette\\DynamicFields\\DynamicField::CHOICE') }}':
                            _html = _getOperatorSelector(['op_equals', 'op_not_equals']);
                            var _options = '';
                            if (Array.isArray(_field.values)) {
                                for (var i = 0; i < _field.values.length; i++) {
                                    _options += '<option value="' + i + '">' + _field.values[i] + '</option>';
                                }
                            } else {
                                for (key in _field.values) {
                                    _options += '<option value="' + key + '">' + _field.values[key] + '</option>';
                                }
                            }
                            _html += '<select name="free_text[]" class="newselectize">' + _options + '</select>';
                            break;
                        case '{{ constant('Galette\\DynamicFields\\DynamicField::DATE') }}':
                            _html  = _getOperatorSelector(['op_equals', 'op_before', 'op_after']);
                            _html += '<input type="text" name="free_text[]" class="modif_date" maxlength="10" size="10"/>';
                            _html += '<span class="exemple">{{ _T('(yyyy-mm-dd format)') }}</span>';
                            break;
                        default:
                            _html  = _getOperatorSelector(['op_equals', 'op_contains', 'op_not_equals', 'op_not_contains', 'op_starts_with', 'op_ends_with']);
                            _html += '<input type="text" name="free_text[]"';
                            if (_type == 'text') {
                                _html += ' class="large"';
                            }
                            _html += '/>';
                            break;

                    }
                    _html += '<input type="hidden" name="free_type[]" value="' + _type + '"/>';
                    $(this).parent().find('span.data').html(_html);
                    _selectize('.newselectize');
                    $('.newselectize').removeClass('newselectize');
                    //_datePickers();
                    _fieldsInSortable();
                });
                _rmFilter();
            }

            $(function(){
                _initSortable();
                //_datePickers();
                _selectize();

               $('#addbutton_g').click(function(){
                    $('.operator_selector,.group_selector').each(function(){ // do this for every select with the 'combobox' class
                        if ($(this)[0].selectize) { // requires [0] to select the proper object
                            var value = $(this).val(); // store the current value of the select/input
                            $(this)[0].selectize.destroy(); // destroys selectize()
                            $(this).val(value);  // set back the value of the select/input
                        }
                    });

                    $('#groups_search_list li:first')
                            .clone() // copy
                            .insertAfter('#groups_search_list li:last'); // where
                    _selectize();
                    return false;
                });

                $('#addbutton').click(function(){
                    $('.operator_selector,.field_selector,.free_operator').each(function(){ // do this for every select with the 'combobox' class
                        if ($(this)[0].selectize) { // requires [0] to select the proper object
                            var value = $(this).val(); // store the current value of the select/input
                            $(this)[0].selectize.destroy(); // destroys selectize()
                            $(this).val(value);  // set back the value of the select/input
                        }
                    });
                    $('#fs_sortable li:first')
                            .clone() // copy
                            .insertAfter('#fs_sortable li:last'); // where
                    _selectize();
                    //_datePickers();
                    _fieldsInSortable();
                    _initFieldSelector();
                    return false;
                });

                _initFieldSelector();

                /*$('.birth_date').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    showOn: 'button',
                    maxDate: '-0d',
                    yearRange: '-200:+0',
                    buttonText: '<i class="ui calendar alt icon"></i> <span class="sr-only">{{ _T("Select a date")|e('js') }}</span>'
                });*/
            });
        </script>
{% endblock %}
