{% extends 'page.html.twig' %}

{% block content %}
    <div class="ui stackable pointing inverted menu">
{% for key, form in all_forms %}
        <a href="{{ url_for('configureDynamicFields', {'form_name': key}) }}" class="item{% if form_name == key %} active{% endif %}" data-tab="{{ key }}">{{ form }}</a>
{% endfor %}
    </div>
{% for key, form in all_forms %}
    <div class="ui{% if form_name == key %} active{% endif %} tab segment" data-tab="{{ key }}">
    {% if form_name == key %}
        {% include 'elements/edit_dynamic_fields.html.twig' %}
    {% endif %}
    </div>
{% endfor %}
{% endblock %}

{% block javascripts %}
        <script type="text/javascript">
            $(function() {
                $('.pointing.menu .item').tab({
                    auto: true,
                    path: '{{ url_for('configureDynamicFields', {'form_name': ''}) }}',
                    onLoad: function(tabPath, parameterArray, historyEvent) {
                        _addDynField();
                        _editDynField();
                        _transDynField();
                        _removeItems();
                        _bindFomanticComponents();
                    }
                });
            });

            var _addDynField = function() {
                var _form_name;
                $('.addfield').click(function(e){
                    e.preventDefault();
                    var _this = $(this);
                    var _href = _this.attr('href');

                    $.ajax({
                        url: _href,
                        type: "GET",
                        datatype: 'json',
                        {% include "elements/js/loader.js.twig" with {
                            selector: '.addfield',
                            loader: 'button'
                        } %},
                        success: function(res){
                            var _res = $(res);

                            $('body').modal({
                                class: 'tiny',
                                title: '{{ _T("New dynamic field") }}',
                                content: _res,
                                onApprove: function() {
                                    $('form').submit();
                                },
                                actions: [{
                                    text    : '{{ _T("Add") }}',
                                    icon    : 'plus',
                                    class   : 'icon labeled green approve'
                                }, {
                                    text    : '{{ _T("Close")|e('js') }}',
                                    icon    : 'times',
                                    class   : 'icon labeled cancel'
                                }]
                            }).modal('show');
                        },
                        error: function() {
                            alert("{{ _T("An error occurred :(")|e("js") }}");
                        }
                    });
                });
            }
            _addDynField();

            {% set modalapprove = "
                $('.modal-form form #redirect_uri').val(window.location.href);
                $('.modal-form form').submit();
            " %}

            var _editDynField = function() {
                {% include "elements/js/modal_action.js.twig" with {
                    selector: ".single-edit",
                    modaltitle: _T("Edit field")|e("js"),
                    modal_class: "tiny",
                    modalapprove: modalapprove
                } %}
            }
            _editDynField();

            {% set extra_success = "
                $('.modal-form form').on('submit', function(event) {
                    event.preventDefault();
                    var _form = $(this);
                    var _data = _form.serialize();
                    $.ajax({
                        url: _form.attr('action'),
                        type: 'POST',
                        datatype: 'json',
                        data: _data,
                        error: function() {
                            alert('{{ _T(\"An error occurred :(\")|e(\"js\") }}');
                        }
                    });
                });
            " %}
            var _transDynField = function() {
                {% include "elements/js/modal_action.js.twig" with {
                    selector: ".single-translate",
                    extra_success: extra_success,
                    modaltitle: _T("Translate labels")|e("js"),
                    modalcontent_class: "scrolling",
                    modalapprove: modalapprove
                } %}
            }
            _transDynField();
        </script>
{% endblock %}
