{% extends 'page.html.twig' %}

{% block content %}
        <form action="{{ url_for('paymentTypes') }}" method="post" enctype="multipart/form-data" class="ui form">
                <table class="listing ui celled table">
                    <thead>
                        <tr>
                            <th class="id_row">#</th>
                            <th>{{ _T("Name") }}</th>
                            <th>{{ _T("Actions") }}</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td data-scope="row">
                                <span class="sr-only">
                                    {{ _T("Add payment type") }}
                                </span>
                            </td>
                            <td class="left" data-title="{{ _T("Label") }}">
                                <input size="20" type="text" name="name"/>
                            </td>
                            <td class="center actions_row">
                                <input type="hidden" name="new" value="1" />
                                <button type="submit" name="valid" class="ui labeled icon button">
                                    <i class="plus green icon" aria-disabled="true"></i>
                                    {{ _T("Add") }}
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
            {% for ptype in list %}
                        <tr class="{{ loop.index is odd ? 'odd' : 'even' }}">
                            <td data-scope="row">
                {% if preferences.pref_show_id %}
                                {{ ptype.__get('id') }}
                {% else %}
                                {{ loop.index }}
                {% endif %}
                                <span class="sr-only">
                                    <a href="{{ url_for('editPaymentType', {'id': ptype.__get('id')}) }}">
                                        {{ _T("%s payment type")|replace({'%s': ptype.getName()}) }}
                                    </a>
                                </span>
                            </td>
                            <td class="left" data-title="{{ _T("Name") }}">{{ ptype.getName() }}</td>
                            <td class="center actions_row">
                                <a
                                    href="{{ url_for('editPaymentType', {'id': ptype.__get('id')}) }}"
                                    class="action single-edit"
                                >
                                    <i class="ui edit icon"></i>
                                    <span class="sr-only">{{ _T("Edit '%s' payment type")|replace({'%s': ptype.getName()}) }}</span>
                                </a>
                                <a
                                    href="{{ url_for('dynamicTranslations', {'text_orig': ptype.getName(false)|escape}) }}"
                                    class="action single-translate"
                                >
                                    <i class="ui language grey icon"></i>
                                    <span class="sr-only">{{ _T("Translate '%s'")|replace({'%s': ptype.getName()}) }}</span>
                                </a>
                {% if ptype.isSystemType() %}
                                <i class="ui icon">&nbsp;</i>
                {% else %}
                                <a
                                    href="{{ url_for('removePaymentType', {'id': ptype.__get('id')}) }}"
                                    class="delete"
                                >
                                    <i class="ui trash red icon"></i>
                                    <span class="sr-only">{{ _T("Delete '%s' payment type")|replace({'%s': ptype.getName()}) }}</span>
                                </a>
                {% endif %}
                            </td>
                        </tr>
            {% endfor %}
                    </tbody>
                </table>
            {% include 'components/forms/csrf.html.twig' %}
        </form>
{% endblock %}

{% block javascripts %}
        <script type="text/javascript">
            $(function() {
                {% include "elements/js/modal_action.js.twig" with {
                    selector: ".single-edit",
                    modaltitle: _T("Edit payment type")|e("js"),
                    modal_class: "mini",
                } %}

                {% set extra_success = "
                    $('.modal-form form').on('submit', function(event) {
                        event.preventDefault();
                        var _form = $(this);
                        var _data = _form.serialize();
                        $.ajax({
                            url: _form.attr('action'),
                            type: 'POST',
                            datatype: 'json',
                            data: _data,
                            error: function() {
                                alert('{{ _T(\"An error occurred :(\")|e(\"js\") }}');
                            }
                        });
                    });
                " %}

                {% set modalapprove = "
                    $('.modal-form form #redirect_uri').val(window.location.href);
                    $('.modal-form form').submit();
                " %}
                {% include "elements/js/modal_action.js.twig" with {
                    selector: ".single-translate",
                    extra_success: extra_success,
                    modaltitle: _T("Translate labels")|e("js"),
                    modalcontent_class: "scrolling"
                } %}

                {% include "elements/js/removal.js.twig" with {
                    single_action: "true"
                } %}
            });
        </script>
{% endblock %}
