{% extends 'page.html.twig' %}

{% block content %}
    <div class="ui three item top attached stackable tabs menu">
{% for key, form in all_forms %}
        <a href="{{ path_for('configureDynamicFields', {'form_name': key}) }}" class="item{% if form_name == key %} active{% endif %}" data-tab="{{ loop.index }}">{{ form }}</a>
{% endfor %}
    </div>
{% for key, form in all_forms %}
    <div class="ui bottom attached{% if form_name == key %} active{% endif %} tab segment" data-tab="{{ loop.index }}">
    {% if form_name == key %}
        {% include 'elements/edit_dynamic_fields.html.twig' %}
        <div class="ui basic fitted segment">
            <a
                id="addfield"
                href="{{ path_for('addDynamicField', {'form_name': form_name}) }}"
                class="ui labeled icon primary button tooltip"
                data-html="{{ _T("Add")|e("js") }}"
            >
                <i class="plus icon"></i>
                {{ _T("Add") }}
            </a>
        </div>
    {% endif %}
    </div>
{% endfor %}
{% endblock %}

{% block javascripts %}
        <script type="text/javascript">
            var _form_name;
            $('#addfield').click(function(e){
                e.preventDefault();
                var _this = $(this);
                var _href = '{{ path_for('addDynamicField', {'form_name': form_name}) }}';

                $.ajax({
                    url: _href,
                    type: "GET",
                    datatype: 'json',
                    {% include "elements/js/loader.js.twig" %},
                    success: function(res){
                        var _res = $(res);
                        _res.find('input[type=submit]')
                            .button();

                        _res.find('form').on('submit', function(e) {
                            e.preventDefault();
                        });

                        $('body').modal({
                            class: 'tiny',
                            content: _res,
                            actions: [{
                                text    : '{{ _T("Close")|e('js') }}',
                                class   : 'cancel'
                            }]
                        }).modal('show');
                    },
                    error: function() {
                        alert("{{ _T("An error occurred :(")|e("js") }}");
                    }
                });
            });
        </script>
{% endblock %}
