{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends (mode == 'ajax') ? "ajax.html.twig" : "page.html.twig" %}

{% block content %}
    <form action="{{ url_for('editPaymentType', {'id': ptype.__get('id')}) }}" method="post" class="ui form">
    {% if mode != 'ajax' %}
        <div class="ui segment" id="general">
    {% endif %}
            <div class="required field inline">
                <label for="name" class="" title="{{ _T("Original string for name, that will be used for translations.") }}">{{ _T("Name:") }}</label>
                <div class="ui right corner labeled input">
                    <div class="ui corner label">
                        <i class="circular inverted primary link icon info tooltip" title="{{ _T("Original string for name, that will be used for translations.") }}" aria-hidden="true"></i>
                    </div>
                    <input type="text" name="name" id="name" value="{{ ptype.__get('name') }}" required="required" />
                </div>
            </div>
    {% if mode != 'ajax' %}
        </div>
        <div class="ui basic center aligned segment">
            <button type="submit" class="ui labeled icon primary button action">
                <i class="save icon" aria-hidden="true"></i> {{ _T("Save") }}
            </button>
            <input type="submit" name="cancel" value="{{ _T("Cancel") }}" class="ui button"/>
    {% endif %}
            <input type="hidden" name="id" id="id" value="{{ ptype.__get('id') }}"/>
            {% include 'components/forms/csrf.html.twig' %}
    {% if mode != 'ajax' %}
        </div>
    {% endif %}
     </form>
{% endblock %}
