{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends 'public_page.html.twig' %}

{% block content %}
            <form action="{{ url_for('get-directlink', {'hash': hash}) }}" method="post" enctype="multipart/form-data" class="ui form">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="envelope icon" aria-hidden="true"></i><label for="email" class="visually-hidden">{{ _T("Please confirm your email address:") }}</label>
                            <input type="email" name="email" id="email" maxlength="50" required="required" autofocus placeholder="{{ _T("Please confirm your email address:") }}"/>
                        </div>
                    </div>
                    <input type="submit" class="ui fluid large primary submit button" name="directlink" value="{{ _T("Get my document") }}" />
                    <input type="hidden" name="valid" value="1"/>
                    <input type="hidden" name="hash" value="{{ hash }}"/>
                    {% include 'components/forms/csrf.html.twig' %}
                </div>
            </form>
{% endblock %}
