{% extends 'page.html.twig' %}

{% block content %}
    <table class="listing ui celled striped table">
        <!--<caption>{{ _T('Active plugins') }}</caption>-->
        <thead>
            <tr>
                <th class="listing">{{ _T('Name') }}</th>
                <th class="listing">{{ _T('Description') }}</th>
                <th class="listing">{{ _T('Author') }}</th>
                <th class="listing">{{ _T('Version') }}</th>
                <th class="listing">{{ _T('Release date') }}</th>
                <th class="listing actions_row"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="6" class="center aligned plugins"><strong>{{ _T('Active plugins') }}</strong></th>
            </tr>
{% for name, plugin in plugins_list %}
            <tr class="{% if loop.index0 % 2 == 0 %}even{% else %}odd{% endif %}">
                <td data-scope="row"><a href="{{ url_for(plugin.route ~ "Info", {"plugin": name}) }}" class="info-plugin">{{ plugin.name }} ({{ name }})</a></td>
                <td data-title="{{ _T('Description') }}">{{ plugin.desc }}</td>
                <td data-title="{{ _T('Author') }}">{{ plugin.author }}</td>
                <td data-title="{{ _T('Version') }}">{{ plugin.version }}</td>
                <td data-title="{{ _T('Release date') }}">{{ plugin.date }}</td>
                <td class="actions_row">
                    <a
                        href="{{ url_for("pluginsActivation", {"action": "deactivate", "module_id": name}) }}"
                        class="toggleActivation tooltip use"
                    >
                        <i class="ui toggle on red icon"></i>
                        <span class="sr-only">{{ _T("Click here to deactivate plugin '%name'")|replace({"%name": plugin.name}) }}</span>
                    </a>
    {% if plugins.needsDatabase(name) %}
                    <a
                        href="{{ url_for("pluginInitDb", {"id": name}) }}"
                        id="initdb_{{ name }}"
                        class="initdb action tooltip"
                    >
                        <i class="ui database blue icon"></i>
                        <span class="sr-only">{{ _T("Initialize '%name' database")|replace({"%name": plugin.name}) }}</span>
                    </a>
    {% else %}
                    <i class="ui icon">&nbsp;</i>
    {% endif %}
                </td>
            </tr>
{% else %}
            <tr>
                <td colspan="6">{{ _T('No active plugin.') }}</td>
            </tr>
{% endfor %}
            <tr>
                <th colspan="6" class="center aligned inactives plugins"><strong>{{ _T('Inactive plugins') }}</strong></th>
            </tr>
            <thead>
            <tr>
                <th class="listing">{{ _T('Name') }}</th>
                <th class="listing" colspan="4">{{ _T('Cause') }}</th>
                <th class="listing actions_row"></th>
            </tr>
            </thead>
{% for name, plugin in plugins_disabled_list %}
            <tr>
                <td data-scope="row">{{ name }}</td>
                <td data-title="{{ _T('Cause') }}" colspan="4">
                    {% if plugin.cause == constant('Galette\\Core\\Plugins::DISABLED_MISS') %}
                        {{ _T('A required file is missing') }}
                    {% elseif plugin.cause == constant('Galette\\Core\\Plugins::DISABLED_COMPAT') %}
                        {{ _T('Incompatible with current version') }}
                    {% elseif plugin.cause == constant('Galette\\Core\\Plugins::DISABLED_EXPLICIT') %}
                        {{ _T('Explicitely disabled') }}
                    {% else %}
                        {{ _T('Unknown') }}
                    {% endif %}
                </td>
                <td class="actions_row">
                    <a
                        href="{{ url_for("pluginsActivation", {"action": "activate", "module_id": name}) }}"
                        class="toggleActivation tooltip delete"
                    >
                        <i class="ui toggle on grey icon"></i>
                        <span class="sr-only">{{ _T("Activate plugin '%name'")|replace({"%name": name}) }}</span>
                    </a>
                    <i class="ui icon">&nbsp;</i>
                </td>
            </tr>
{% else %}
            <tr>
                <td colspan="5">{{ _T('No inactive plugin.') }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
    {% if constant('GALETTE_MODE') == 'DEMO' %}
            $('.initdb, a.toggleActivation').click(function(){
                alert('{{ _T("Application runs under demo mode. This functionnality is not enabled, sorry.")|e('js') }}');
                return false;
            });
    {% else %}
            {# Plugin init popup #}
            var _btnuser_mapping = function(){
                $('.initdb').click(function(){
                    var _plugin = this.id.substring(7);
                    var _url = $(this).attr('href');
                    $.ajax({
                        url: _url,
                        type: "GET",
                        {% include "elements/js/loader.js.twig" %},
                        success: function(res){
                            _initdb_dialog(res, _plugin);
                        },
                        error: function() {
                            alert("{{ _T("An error occurred displaying plugin database initialization interface :(")|e('js') }}");
                        }
                    });
                    return false;
                });
            }
            _btnuser_mapping();

            var _initdb_dialog = function(res, plugin) {
                var _title = '{{ _T("Plugin database initialization: %name")|e('js') }}';
                $('body').modal({
                    title: _title.replace('%name', plugin),
                    class: 'initdb-modal large',
                    classContent: 'scrolling',
                    observeChanges: true,
                    content: res,
                    onApprove : function() {
                      $('#plugins_initdb_form').submit();
                      return false;
                    },
                    actions: [{
                        text    : '{{ _T("Next step")|e('js') }}',
                        class   : 'blue labeled icon approve',
                        icon    : 'forward'
                    }, {
                        text    : '{{ _T("Close")|e('js') }}',
                        class   : 'labeled icon cancel',
                        icon    : 'times'
                    }]
                }).modal('show');
                _initdb_bindings(res, plugin);
            };

            var _initdb_bindings = function(res, plugin){
                //$('.initdb-modal input:submit, .initdb-modal .button, .initdb-modal input:reset' );
                $('#plugins_initdb_form').on('submit', function(event) {
                    event.preventDefault();
                    var _form = $(this);
                    var _data = _form.serialize();
                        _data += '&ajax=true&next=true';
                    $.ajax({
                        url: _form.attr('action'),
                        type: "POST",
                        data: _data,
                        datatype: 'json',
                        {% include "elements/js/loader.js.twig" %},
                        success: function(res) {
                            $('#plugins_initdb_form').remove();
                            $('#plugins_initdb_ajax').append(res);
                            if (!$.trim($('#plugins_initdb_form .form-actions').html())){
                                $('.initdb-modal .approve').remove();
                            }
                            _initdb_bindings(res);
                        },
                        error: function() {
                            alert("{{ _T("An error occurred displaying plugin database initialization interface :(")|e('js') }}");
                        }
                    });
                });
            };

            $('.info-plugin').click(function(event){
                event.preventDefault();
                var _this = $(this);
                var _url = _this.attr('href');
                $.ajax({
                    url: _url,
                    type: "GET",
                    datatype: 'json',
                    {% include "elements/js/loader.js.twig" %},
                    success: function(res) {
                        var _content = $($.parseHTML(res)).find('div.main-content').children();
                        $('body').modal({
                            title: _this.html(),
                            class: 'large',
                            classContent: 'scrolling',
                            content: _content,
                            actions: [{
                                text    : '{{ _T("Close")|e('js') }}',
                                class   : 'labeled icon cancel',
                                icon    : 'times'
                            }]
                        }).modal('show');
                    },
                    error: function() {
                        alert("{{ _T("An error occurred :(")|e('js') }}");
                    }
                });
            });
    {% endif %}
        });
    </script>
{% endblock %}
