{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends 'elements/list.html.twig' %}

{% set basic_table = true %}

{% if not login.isAdmin() and not login.isStaff() and not login.isGroupManager() %}
    {% set no_action = true %}
{% endif %}

{% set form = {
    'route': {
        'name': 'payments_filter',
        'args': {
            'type': 'transactions'
        }
    },
    'order': {
        'name': "contributions",
        'args': {"type": "transactions"}
    }
} %}

{% set columns = [
    {
        'label': '#', 'order': constant("Galette\\Filters\\TransactionsList::ORDERBY_ID"),
        'collapse': true
    },
    {
        'label': _T("Date"), 'order': constant("Galette\\Filters\\TransactionsList::ORDERBY_DATE"),
        'collapse': true
    }
] %}

{% if ((login.isAdmin() or login.isStaff()) and member is not defined) or pmember is defined %}
    {% set columns = columns|merge([{'label': _T("Originator"), 'order': constant("Galette\\Filters\\TransactionsList::ORDERBY_MEMBER")}]) %}
{% endif %}

{% set columns = columns|merge([
    {'label': _T("Description")},
    {
        'label': _T('Amount'), 'order': constant("Galette\\Filters\\TransactionsList::ORDERBY_AMOUNT"),
        'collapse': true
    },
    {'label': _T('Payment type'), 'order': constant("Galette\\Filters\\TransactionsList::ORDERBY_PAYMENT_TYPE")}
]) %}

{% block search %}
    <form action="{{ url_for("payments_filter", {"type": "transactions"}) }}" method="post" class="ui form filters">
        <div class="ui secondary yellow segment">
            <div class="two fields">
                <div class="field">
                    <label for="start_date_filter">{{ _T("Show transactions since") }}</label>
                    <div class="ui calendar" id="contrib-rangestart">
                        <div class="ui input left icon">
                            <i class="calendar icon" aria-hidden="true"></i>
                            <input placeholder="{{ _T("yyyy-mm-dd format") }}" type="text" name="start_date_filter" id="start_date_filter" maxlength="10" size="10" value="{{ filters.start_date_filter }}"/>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="end_date_filter">{{ _T("until") }}</label>
                    <div class="ui calendar" id="contrib-rangeend">
                        <div class="ui input left icon">
                            <i class="calendar icon" aria-hidden="true"></i>
                            <input placeholder="{{ _T("yyyy-mm-dd format") }}" type="text" name="end_date_filter" id="end_date_filter" maxlength="10" size="10" value="{{ filters.end_date_filter }}"/>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ui right aligned basic fitted segment field">
                <button type="submit"  class="tooltip action ui labeled icon primary button" title="{{ _T("Apply filters") }}" name="filter">
                    <i class="search icon" aria-hidden="true"></i>
                    {{ _T("Filter") }}
                </button>
                <button type="submit" name="clear_filter" class="tooltip ui labeled icon button" title="{{ _T("Reset all filters to defaults") }}">
                    <i class="trash alt red icon" aria-hidden="true"></i>
                    {{ _T("Clear filter") }}
                </button>
            </div>
        </div>
        {% if mode != 'ajax' and member is defined and (login.isAdmin() or login.isStaff() or member.canShow(login)) %}
            <div class="ui segment member-filtered">
                <div class="ui horizontal list">
                    <span class="ui primary ribbon label">
                        {% set member_logged_in_as = member.name ~ " " ~ member.surname ~ " (" ~ member.login ~ ")" %}
                        {% if login.isAdmin() or login.isStaff() or login.isGroupManager() or member.hasChildren() or (member.hasParent() and (member_logged_in_as != login.loggedInAs(true))) %}
                            <a
                                href="{{ url_for("contributions", {"type": "transactions", "option": "member", "value": "all"}) }}"
                            >
                                <i class="icon times tooltip" aria-hidden="true"></i>
                                <span class="ui special popup">
                                    {% if member.hasChildren() or (member.hasParent() and (member_logged_in_as != login.loggedInAs(true))) %}
                                        {{ _T("Show all your transactions") }}
                                    {% else %}
                                        {{ _T("Show all members transactions") }}
                                    {% endif %}
                                </span>
                            </a>
                        {% endif %}
                        {{ member.sname }}{% if not member.isActive() %} ({{ _T("Inactive") }}){% endif %}
                    </span>
                    {% if member.canShow(login) %}
                        <div class="item">
                            <a href="{{ url_for("member", {"id": member.id}) }}" class="ui tiny labeled icon button">
                                <i class="ui user blue icon" aria-hidden="true"></i>
                                {{ _T("See member profile") }}
                            </a>
                        </div>
                    {% endif %}
                    {% if login.isAdmin() or login.isStaff() or (login.isGroupManager() and preferences.pref_bool_groupsmanagers_create_transactions) %}
                        <div class="item">
                            <a href="{{ url_for("addTransaction") }}?id_adh={{ member.id }}" class="ui tiny labeled icon button">
                                <i class="ui plus circle green icon" aria-hidden="true"></i>
                                {{ _T("Add a transaction") }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% include "components/forms/csrf.html.twig" %}
    </form>
{% endblock %}

{% block infoline %}
    {% set infoline = {
        'label': _Tn("%1$s transaction", "%1$s transactions", nb)|format(nb),
        'route': {
            'name': 'payments_filter',
            'args': {
                'type': 'transactions'
            }
        }
    } %}
    {{ parent() }}
{% endblock %}

{% block infoline_actions %}
    {% if (login.isAdmin() or login.isStaff() or (login.isGroupManager() and preferences.pref_bool_groupsmanagers_create_transactions)) and member is not defined %}
        <a
                class="ui tiny labeled icon button"
                href="{{ url_for("addTransaction") }}"
        >
            <i class="ui plus circle green icon" aria-hidden="true"></i>
            {{ _T("Add a transaction") }}
        </a>
    {% endif %}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for ordre, transaction in list %}
        {% set mid = transaction.member %}
        {% if member is defined %}
            {% set mname = member.sname %}
        {% else %}
            {% set mname = memberName({id: mid}) %}
        {% endif %}

        <tr class="{{ transaction.getRowClass() }}">
            <td class="collapsing" data-scope="row">
                {% if preferences.pref_show_id %}
                    {{ transaction.id }}
                {% else %}
                    {{ ordre + 1 + (filters.current_page - 1) * numrows }}
                {% endif %}
                <span class="displaynone">
                            <a href="{{ url_for("editTransaction", {"id": transaction.id}) }}">
                                {{ _T("Transaction %id")|replace({"%id": transaction.id}) }}
                            </a>
                        </span>
            </td>
            <td class="collapsing" data-col-label="{{ _T("Date") }}">{{ transaction.date }}</td>
            {% if ((login.isAdmin() or login.isStaff()) and member is not defined) or pmember is defined %}
                <td data-col-label="{{ _T("Member") }}">
                    {% if filters.filtre_cotis_adh == "" or filters.filtre_cotis_adh == null %}
                        <a
                            href="{{ url_for("contributions", {"type": "transactions", "option": "member", "value": mid}) }}"
                            title="{{ _T("Show only '%name' transactions")|replace({"%name": mname}) }}"
                        >
                            <i class="filter grey small icon" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    <a
                        href="{{ url_for("member", {"id": mid}) }}"
                        title="{{ _T("Show '%name' card")|replace({"%name": mname}) }}"
                    >
                        {{ mname }}
                    </a>
                </td>
            {% endif %}
            <td data-col-label="{{ _T("Description") }}">{{ transaction.description|escape }}</td>
            <td class="collapsing" data-col-label="{{ _T("Amount") }}">{{ transaction.amount }}</td>
            <td data-col-label="{{ _T("Payment type") }}">{{ transaction.getPaymentType() }}</td>
            {% if mode != 'ajax' and (login.isAdmin() or login.isStaff() or login.isGroupManager()) %}
                <td class="center actions_row collapsing">
                    <a
                        href="{{ url_for("editTransaction", {"id": transaction.id}) }}"
                        class="action"
                    >
                        <i class="ui edit icon tooltip" aria-hidden="true"></i>
                        <span class="ui special popup">{{ _T("Edit transaction #%id")|replace({"%id": transaction.id}) }}</span>
                    </a>
                    {% if login.isAdmin() or login.isStaff() %}
                    <a
                        href="{{ url_for("removeContribution", {"type": "transactions", "id": transaction.id}) }}"
                        class="delete"
                    >
                        <i class="ui trash red icon tooltip" aria-hidden="true"></i>
                        <span class="ui special popup">{{ _T("Remove transaction #%id")|replace({"%id": transaction.id}) }}</span>
                    </a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr><td colspan="{{ columns_count }}" class="emptylist">{{ _T("no transaction") }}</td></tr>
    {% endfor %}
{% endblock %}

{% block legend %}
    <div id="legende" title="{{ _T("Legend") }}" class="ui modal">
        <div class="header">{{ _T("Legend") }}</div>
        <div class="content">
            <table class="ui stripped table">
                <thead>
                    <tr>
                        <th scope="colgroup" colspan="4">{{ _T("Reading the list") }}</th>
                    </tr>
                <thead>
                <tbody>
                    <tr>
                        <th scope="row"  class="transaction-normal color-sample"><i class="ui icon">&nbsp;</i></th>
                        <td class="back">{{ _T("Completely dispatched transaction") }}</td>
                        <th scope="row"  class="transaction-uncomplete color-sample"><i class="ui icon">&nbsp;</i></th>
                        <td class="back">{{ _T("Uncomplete dispatched transaction") }}</td>
                    </tr>
                </tbody>
            </table>
    {% if login.isAdmin() or login.isStaff() or login.isGroupManager() %}
            <table class="ui stripped table">
                <thead>
                    <tr>
                        <th scope="colgroup" colspan="4">{{ _T("Actions") }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"  class="action">
                            <i class="ui edit blue icon" aria-hidden="true"></i>
                        </th>
                        <td class="back">{{ _T("Modification") }}</td>
        {% if login.isAdmin() or login.isStaff() %}
                        <th scope="row"  class="action">
                            <i class="ui trash red icon" aria-hidden="true"></i>
                        </th>
                        <td class="back">{{ _T("Deletion") }}</td>
        {% endif %}
                    </tr>
                </tbody>
            </table>
    {% endif %}
            <table class="ui stripped table">
                <thead>
                    <tr>
                        <th scope="colgroup" colspan="4">{{ _T('Transaction interactions') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"  class="action">
                            <i class="ui filter grey small icon" aria-hidden="true"></i>
                        </th>
                        <td class="back">{{ _T("Show only '%name' transactions")|replace({"%name": _T("Originator")}) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="actions"><div class="ui labeled icon deny button"><i class="times icon" aria-hidden="true"></i> {{ _T("Close") }}</div></div>
    </div>
{% endblock %}
