<div class="ui bottom attached tab segment" data-tab="social">
    {% for social in socials %}
        <div class="field">
            <label for="social_{{ social.id }}">{{ social.getSystemType(social.type) }}</label>
            <span>
                <input type="text" name="social_{{ social.id }}" id="social_{{ social.id }}" value="{{ social.url }}" class="large"/>
                <a href="#" class="fright tooltip delete delsocial">
                    <i class="fas fa-trash-alt"></i>
                    <span class="sr-only">{{ _T("Remove %type")|replace({ "%type": social.getSystemType(social.type)}) }}</span>
                </a>
            </span>
        </div>
    {% endfor %}
    <div class="field">
        <span>{{ _T("Add new social network") }}</span>
        <span>
            <select name="social_new_type_1" id="social_new_type_1" class="nochosen socials_selector">
                <option value="">{{ _T("Choose or enter your own...") }}</option>
    {% for social_type in osocials.getSystemTypes(false) %}
                <option value="{{ social_type }}">{{ osocials.getSystemType(social_type) }}</option>
    {% endfor %}
            </select>
            <input type="text" name="social_new_value_1" id="social_new_value_1" value="" size="50"/>
            <a href="#" class="fright tooltip action addsocial">
                <i class="fas fa-plus-square"></i>
                <span class="sr-only">{{ _T("Add") }}</span>
            </a>
        </span>
        <script type="text/javascript">
            var _selectize = function(selector) {
                if ( !selector ) {
                    selector = '.socials_selector';
                }

                $(selector).selectize({
                    maxItems: 1,
                    create: true,
                    createOnBlur: true
                });
            }

            $('.addsocial').click(function(e){
                e.preventDefault();
                $('.socials_selector').each(function(){ // do this for every select with the 'combobox' class
                    var _this = $(this);
                    if (_this[0].selectize) { // requires [0] to select the proper object
                        var value = $(this).val(); // store the current value of the select/input
                        _this[0].selectize.destroy(); // destroys selectize()
                        _this.val(value);  // set back the value of the select/input
                    }
                });

                var _newindex = $(this).parents('fieldset').find('p:last select').attr('id').replace('social_new_type_', '');
                ++_newindex;
                $(this).parents('p')
                    .clone() // copy
                    .insertAfter('#social p:last') // where
                    .find('select').attr('id', 'social_new_type_' + _newindex).attr('name', 'social_new_type_' + _newindex)
                    .parent().find('input').attr('id', 'social_new_value_' + _newindex).attr('name', 'social_new_value_' + _newindex)
                    .parent().find('.addsocial').remove()
                ;

                _selectize();
            });

            var _rmFilter = function(elt) {
                if ( typeof elt == 'undefined') {
                    elt = $('#social p');
                }
                elt.find('.delsocial').click(function(e){
                    e.preventDefault();
                    var _this = $(this);
                    _this.parents('p').remove();
                });
            }
            _rmFilter();
            _selectize();
        </script>
    </div>
</div>