{# This file contains common html headers to include for Galette Twig rendering. #}
        <title>{% if preferences.pref_slogan != "" %}{{ preferences.pref_slogan }} - {% endif %}{% if page_title != "" %}{{ page_title }} - {% endif %}Galette {{ constant('GALETTE_VERSION') }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/galette-main.bundle.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/ui/semantic.min.css" />
    {# Let's see if a local CSS exists and include it #}
    {% set localstylesheet = constant('_CURRENT_THEME_PATH') ~ "galette_local.css" %}
    {% if file_exists(localstylesheet) %}
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/{{ constant('GALETTE_THEME') }}/galette_local.css" />
    {% endif %}
        <script type="text/javascript" src="{{ base_url() }}/assets/js/galette-main.bundle.min.js"></script>
    {% if require_charts %}
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/galette-jqplot.bundle.min.css" />
    {% endif %}
        <script type="text/javascript" src="{{ base_url() }}/assets/ui/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/{{ constant('GALETTE_THEME') }}galette_print.css" media="print" />
    {# Let's see if a local print CSS exists and include it #}
    {% set localprintstylesheet = constant('_CURRENT_THEME_PATH') ~ "galette_print_local.css" %}
    {% if file_exists(localprintstylesheet) %}
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/{{ constant('GALETTE_THEME') }}/galette_print_local.css" media="print" />
    {% endif %}
        <link rel="shortcut icon" href="{{ base_url() }}/{{ constant('GALETTE_THEME') }}images/favicon.png" />
{#
{* If some additional headers should be added from plugins, we load the relevant template file
   We have to use a template file, so Twig will do its work (like replacing variables). *}
{if $headers|@count != 0}
    {foreach from=$headers item=header key=mid}
        {include file=$header module_id=$mid}
    {/foreach}
{/if}
#}
