<div id="legende{{ cur_ref }}" class="texts_legend ui modal" title="{{ _T("Existing variables") }}">
    <div class="header">{{ _T('Existing variables') }}</div>
    <div class="content">
        <table class="ui very basic table">
    {% for legend in legends %}
        <tr>
            <th colspan="4">
                {{ legend.title }}
            </th>
        </tr>
        {% for pattern in legend.patterns %}
            {% if loop.index0 % 2 == 0 %}
                <tr>
            {% endif %}
            <th><tt>{{ pattern.pattern|trim('/') }}</tt></th>
            <td class="back">
                {% if pattern.title is defined %}{{ pattern.title }}{% endif %}
            </td>
            {% if loop.index0 % 2 != 0 %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
        </table>
    </div>
    <div class="actions"><div class="ui labeled icon deny button"><i class="times icon"></i> {{ _T('Close') }}</div></div>
</div>
<script type="text/javascript">

    var _addLegenButton = function(selector) {
        $(selector).append('<a id="btnlegend" class="ui tooltip" data-html="{{ _T("Show existing variables")|e('js') }}"><i class="circular inverted primary link icon info"></i> <span class="sr-only">{{ _T("Show existing variables")|e('js') }}</span></a>');
    };

    var _handleLegend = function(selector) {
        if (typeof selector == 'undefined') {
            selector = '{{ cur_ref }}';
        }
        $('#legende' + selector + ' h1').remove();
        $('#legende' + selector).dialog({
            autoOpen: false,
            modal: true,
            hide: 'fold',
            width: '60em',
            create: function (event, ui) {
                if ($(window ).width() < 767) {
                    $(this).dialog('option', {
                        'width': '95%',
                        'draggable': false
                    });
                }
            }
        }).dialog('close');

        $('#btnlegend').unbind('click').click(function(){
            $('#legende' + selector).dialog('open');
            return false;
        });
    };
</script>
