<aside class="ui computer only toc">
{% if login.isLogged() %}
    {% include "elements/logout.html.twig" with {
            ui: "menu"
    } %}
{% endif %}

    <div class="ui basic center aligned segment">
        <img src="{{ url_for('logo') }}" width="{{ logo.getOptimalWidth() }}" height="{{ logo.getOptimalHeight() }}" alt="{{ preferences.pref_nom }}" class="icon"/>
        <div class="ui block huge brand header">
            {{ preferences.pref_nom }}
            {% if preferences.pref_slogan %}<div class="sub tiny header">{{ preferences.pref_slogan }}</div>{% endif %}
        </div>
    </div>

    {% include "elements/modes.html.twig" %}

    <div class="ui vertical accordion compact fluid menu">
        {% include "elements/navigation/navigation_items.html.twig" %}
    </div>
</aside>
